{% extends "pattern.html" %}
{% load static %}
{% load basket_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static "ccs/basket_page.css" %}">
    <link rel="stylesheet" href="{% static "adaptation/basket_media.css" %}">
{% endblock  %}

{% block content %}
    {% user_basket request as baskets %}
    <div class="basket_container" id="basket-items-container">
       {% include "basket/include/basket.html" %}
    </div>
{% endblock  %}


{% block decorLine %}
    <svg width="1728" height="934" viewBox="0 0 1728 934" fill="none" xmlns="http://www.w3.org/2000/svg" class="backimg_order">
        <g opacity="0.45">
        <g filter="url(#filter0_f_1062_5261)">
        <path d="M0 90H107.5C118.546 90 127.5 98.9543 127.5 110V744.5C127.5 755.546 136.454 764.5 147.5 764.5H737.5C748.546 764.5 757.5 773.454 757.5 784.5V903C757.5 914.046 766.454 923 777.5 923H1536C1547.05 923 1556 914.046 1556 903V766.5C1556 755.454 1564.95 746.5 1576 746.5H1731.5" stroke="#0082F0"/>
        </g>
        <g filter="url(#filter1_f_1062_5261)">
        <path d="M1720.5 140.5H1185.5C1174.45 140.5 1165.5 149.454 1165.5 160.5V776C1165.5 787.046 1156.55 796 1145.5 796H605.5H320C308.954 796 300 787.046 300 776V508C300 496.954 291.046 488 280 488H104C92.9543 488 84 496.954 84 508V868.5C84 879.546 75.0457 888.5 64 888.5H-2.5" stroke="#8AC7FE" stroke-width="2"/>
        </g>
        <g filter="url(#filter2_f_1062_5261)">
        <path d="M7 11.5H775.5C786.546 11.5 795.5 20.4543 795.5 31.5V286.5C795.5 297.546 786.546 306.5 775.5 306.5H355C343.954 306.5 335 315.454 335 326.5V594C335 605.046 343.954 614 355 614H1548.5C1559.55 614 1568.5 605.046 1568.5 594V347C1568.5 335.954 1577.45 327 1588.5 327H1729" stroke="#8AC7FE" stroke-width="2"/>
        </g>
        </g>
        <defs>
        <filter id="filter0_f_1062_5261" x="-10" y="79.5" width="1751.5" height="854" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="5" result="effect1_foregroundBlur_1062_5261"/>
        </filter>
        <filter id="filter1_f_1062_5261" x="-12.5" y="129.5" width="1743" height="770" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="5" result="effect1_foregroundBlur_1062_5261"/>
        </filter>
        <filter id="filter2_f_1062_5261" x="-3" y="0.5" width="1742" height="624.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="5" result="effect1_foregroundBlur_1062_5261"/>
        </filter>
        </defs>
    </svg>
{% endblock  %}