{% extends "pattern.html" %}
{% load static %}
{% load basket_tags %}

{% block css %}
<link rel="stylesheet" href="{% static "ccs/basket_page.css" %}">
<link rel="stylesheet" href="{% static "ccs/order_page.css" %}">
<link rel="stylesheet" href="{% static "adaptation/order_media.css" %}">
{% endblock  %}

{% block content %}
    <div class="basket_container">
        <div>
            <h2 class="basket__title">Ваш заказ</h2>
            <ul class="basket__item_list">
                {% user_basket request as baskets %}
                {% for basket_user in baskets %}
                    <li class="basket__item">
                        <div class="item_box">
                            {% if basket_user.product.image %}
                                <div class="img_decor_card">
                                    <img src="{{ basket_user.product.image.url }}" alt="" class="item__img">
                                </div>
                            {% else %}
                                <img src="{% static 'deps/отсутсвует.png' %}" alt="" class="item__img">
                            {% endif %}
        
                            <div class="pos_box_price">
                                <h3 class="item__name">{{ basket_user.product.name|truncatechars:33 }}</h3>
                                <p class="item__price">{{ basket_user.products_price }}  ₽</p>
                                <p class="item__sort_descr">{{ basket_user.product.description|truncatechars:35 }}</p>
                                <p class="item__platform">{{ basket_user.product.category }}</p>
                                <div class="item__counter_box">               
                                    <p type="text" class="quantity number_order">{{ basket_user.quantity }} шт.</p>
                                </div>
                            </div>
                        </div>
                    </li> 
                {% endfor %}
        
            </ul>
        </div>
        <div class="right_basket_container">
            <form action="{% url "orders:create_order" %}" method="post">
                {% csrf_token %}

                <h3 class="payment_way__title">Способ оплаты</h3>

                {% if user.payment_method %}
                    <input type="hidden" name="payment_method" id="id_payment_method" value="{{ user.payment_method.id }}">
                    <p class="payment_way__card">{{user.payment_method.bank }} ⋅⋅ {{ user.payment_method.card_num|slice:"-4:" }}</p>
                {% else %}
                    <p class="payment_way__card">Карта не была выбрана</p>
                {% endif %}

                <h3 class="email_to_send">Адрес эл.почты</h3>

                {% if not user.is_authenticated %}
                    <input type="email" id="id_email" name="email" placeholder="почта" class="order_email" required><br>
                {% else %}
                    <input type="email" id="id_email" name="email" value="{{ user.email }}" placeholder="почта" class="order_email" required><br>
                {% endif %}

                <p id="products-in-basket-count" class="products_counter">Товары, {{ baskets.total_quantity }} шт.</p>
                <div class="total_price_container">
                    <p class="total_price_name"><b>Итого</b></p>
                    <p class="total_price_num"><b>{{ baskets.total_price }} &#8381;</b></p>
                </div>
                <button class="order_btn btn"><b>Оформить</b></button>
            </form>
        </div>
    </div>
    <script>
        document.querySelectorAll('input[type=radio][name=payment_method]').forEach(function(radio) {
            radio.addEventListener('change', function() {
                if (this.checked) {
                    // Установка выбранного способа оплаты в скрытое поле
                    var selectedPaymentMethodId = this.value;
                    document.getElementById('id_payment_method').value = selectedPaymentMethodId;
                }
            });
        });
    </script>
{% endblock  %}