@media (max-width : 420px) {
    .form_container {
        max-width: 343px;
        gap: 0;
    }

    svg {
        display: none;
    }

    .log_in_page_img {
        display: none;
    }

    .form_inputs {
        max-height: calc(210px - 32px);
        width: 343px;
        padding: 16px 12px;
    }

    .form_title {
        font-size: 20px;
        position: absolute;
        top: -40px;
    }

    .input_log {
        background-color: #ECF6FF;
        padding: 10px 15px;
        font-size: 13px;
        border-radius: 13px;
    }

    .form_log_in {
        gap: 13px;
    }

    .btn_send_database {
        min-width: 0;
        width: 100%;
        font-size: 13px;
        border-radius: 13px;
        padding: 10px 135px;
        margin-bottom: 7px;
    }

    .form_btn_container {
        bottom: 10px;
        width: 319px;
    }

    .another_way_submit {
        font-size: 10px;
        color: #1C2541;
    }

    main {
        margin-top: 40px;
        margin-bottom: 200px;
    }

    .backimg_log_in {
        display: none;
    }
}