@media (max-width : 420px) {
    .product_card__container,
    .hidden_card {
        display: none;
    }

    .products_container,
    .questions {
        max-width: 343px;
    }

    .product_title {
        font-size: 14px;
        padding-bottom: 15px;
    }

    .product_card {
        width: 100%;
        height: 163px;
        position: relative;
    }

    .decor_div1 {
        height: 13%;
    }

    .products_container {
        min-height: fit-content;
    }

    .questions__title {
        padding: 25px 0 15px 0;
        font-size: 14px;
        margin-top: 20px;
    }

    .question__text {
        font-size: 9px;
        padding: 9px 12px;
    }

    .summary_marker_stick1,
    .summary_marker_stick2 {
        width: 7px;
    }

    .summary_marker_stick2 {
        margin-top: 4px;
    }

    .marker_container {
        right: 8px;
    }

    .question__answer {
        padding: 10px 12px;
        font-size: 7px;
    }

    .ask_questins {
        display: none;
    }

    .slider_title {
        font-size: 12px;
        color: black;
    }

    .slider,.wrapper {
        height: 163px;
        width: 343px;
    }

    .normal_price {
        font-size: 14px;
    }

    .discounted_price {
        font-size: 24px;
    }

    .wrapper .controls {
        margin-left: -30px;
    }

    .wrapper label {
        height: 8px;
        width: 8px;
        margin: 8px 0 0 8px;
    }

    .wrapper label:after {
        width: 8px;
        height: 8px;
    }

    .background_main_img {
        display: none;
    }

    .backimg_mobile {
        display: block;
        top: 130px;
    }

    .slider_price_container {
        bottom: 4px;
        left: 13px;
    }

    .title_container {
        left: 13px;
        top: 7px;
    }
}