@media (max-width:420px) {
    .registration_form_container {
        max-width: 343px;
        height: 350px;
    }

    .registration_page_img {
        display: none;
    }

    .registration_title {
        font-size: 20px;
        position: absolute;
        top: -40px;
        margin-bottom: 0;
    }

    main {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .registration_form {
        padding: 16px 12px;
        width: calc(342px - 24px);
        height: 305px;
    }

    .reg_input {
        padding: 9px 12px;
        font-size: 13px;
        width: calc(319px - 24px);
    }

    .clue, .clue2 {
        display: none;
    }

    .form_btn_container {
        width: 318px;
    }

    .reg_form {
        gap: 13px;
    }

    .btn_send_reginfo {
        bottom: 16px;
        padding: 9px 0;
        width: 100%;
        font-size: 13px;
        font-weight: 800;
    }

    .backimg_reg {
        display: none;
    }
}