

header{
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 200px;
    padding: 30px 40px 60px 40px;
    z-index: 2;
    position: relative;
}

.nav_helper__links {
    display: flex;
    gap: 40px;
}

.nav_user__links {
    display: flex;
    gap: 40px;
    align-items: center;
    position: relative;
}

.nav_helper__link:last-child .nav__link {
    color: blue;
}

.nav_helper__link:last-child .nav__link:focus {
    border-bottom: 1px solid blue;
}

.nav_helper__link:last-child .nav__link:hover {
    border-bottom: 1px solid blue;
}

.nav_helper__link:last-child .nav__link:active {
    border-bottom: 1px solid blue;
}

.nav_user__input {
    outline: none;
    border: 1px solid white;
    background: rgba(236, 246, 255, 0.3);
    color: black;
    width: 229px;
    height: 36px;
    padding-left: 10px;
    padding-right: 0;
}

.nav__link {
    font-size: 16px;
    color: white;
    transition: all 0.3s;
}

.nav__link:focus {
    opacity: 50%;
    border-bottom: 1px solid white;
    outline: none;
}

.nav__link:hover {
    border-bottom: 1px solid white;
    opacity: 70%;
}

.nav__link:active {
    opacity: 50%;
    border-bottom: 1px solid white;
}

.drop_list_container {
    position: absolute;
    min-width: 240px;
    background-color: rgba(185, 222, 254, 0.9);
    z-index: 2;
}

.product_mini_card .mini_product_link{
    margin: 5px;
    position: relative;
    display: flex;
    gap: 10px;
    min-height: 70px;
    text-decoration: none;
    color: rgb(28, 37, 65);
}

.product_mini_img {
    width: 56px;
    height: 56px;
    background-color: white;
}

.product_price {
    position: absolute;
    right: 0;
    bottom: 0;
}

.product_name {
    max-width: 160px;
    height: fit-content;
}

.drop_list__btn {
    color: white;
    background-color: #0082F0;
    border: none;
    outline: none;
    font-size: 10px;
    font-weight: 900;
    line-height: 12px;
    padding: 5px 0;
    width: calc(100% - 20px);
    margin: 10px;
}

.product_mini_card {
    border-bottom: 0.5px solid #1B9DF333;
}