.form_container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 160px;
}

.form_log_in {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form_inputs {
    padding: 30px;
    width: 700px;
    height: 600px;
    background-color: rgb(228, 228, 228);
    position: relative;
}

.form_title {
    margin-bottom: 40px;
    font-size: 36px;
}

.input_log {
    max-width: 700px;
    background-color: rgb(217, 226, 236);
    padding: 25px;
    font-size: 20px;
}

.btn_send_database {
    min-width: 660px;
    padding: 20px 270px;
    background-color: rgb(21, 106, 199);
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 35px;
}

.log_in_page_img {
    width: 550px;
    height: 660px;
    background-color: rgb(217, 217, 217);
}