.form_container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 160px;
}

.form_log_in {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form_inputs {
    padding: 20px 25px;
    width: 700px;
    height: 600px;
    background-color: rgb(185, 222, 254);
    position: relative;
    border-radius: 20px;
}

.form_title {
    margin-bottom: 40px;
    font-size: 36px;
}

.input_log {
    max-width: 700px;
    background-color: white;
    padding: 25px;
    font-size: 20px;
    border: 1px solid rgb(28, 37, 65);
    outline: none;
    border-radius: 20px;
}

.btn_send_database {
    padding: 20px 280px;
    background-color: rgb(21, 106, 199);
    color: white;
    font-size: 20px;
    /* position: absolute; */
    /* bottom: 35px; */
    border-radius: 20px;
    margin-bottom: 30px;
}

.form_btn_container {
    position: absolute;
    bottom: 35px;
}

.another_way_submit {
    width: fit-content;
    margin: 0 auto;
}

.another_way_submit a{
    text-decoration: none;
    color: rgb(0, 130, 240);
}

.log_in_page_img {
    width: 550px;
    height: 660px;
    background-color: rgb(217, 217, 217);
}

.decor_div1 {
    height: 150px;
}

.decor_div2 {
    height: 100%;
    z-index: 0;
}

header {
    gap: 500px;
}

main {
    margin-top: 50px;
}

.backimg_log_in {
    position: absolute;
    top: 170px;
}