.main__container {
    max-width: 1400px;
    margin: 0 auto;
}

.products_title {
    margin-bottom: 20px;
}

.active_filters__list {
    display: flex;
    position: relative;
    gap: 40px;
}

.active_filters {
    margin-left: 300px;
    margin-bottom: 20px;
}

.active_filter {
    font-size: 18px;
    position: relative;
    cursor: pointer;
}

.active_filter:nth-child(2) {
    margin-left: 280px;
}

.filters_producs_container {
    display: flex;
    padding-bottom: 120px;
}

.filters_box {
    flex-grow: 0;
    height: fit-content;
    min-width: 280px;
    background-color: rgba(185, 222, 254, 0.6);
}

.filters__list {
    padding: 40px;
}

.filter {
    margin-bottom: 20px;
}

.product_box {
    margin-left: 20px;
    position: relative;
}

.product_card {
    width: 260px;
    min-height: 333px;
    position: relative;
}

.shadow_element {
    transition: all 0.3s;
}

.product_card:hover .shadow_element {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 70%;
}

.product_card:focus .shadow_element {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 50%;
}

.product_card:active .shadow_element {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 50%;
}

.products_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product__img {
    width: 100%;
    height: 244px;
    background-color: rgb(173, 129, 129);
    margin-bottom: 20px;
}

.product__name {
    font-size: 20px;
    background-color: rgb(107, 99, 99);
    max-width: 100%;
    color: white;
    padding-left: 15px;
}

.product__price {
    margin-top: 20px;
    width: 50%;
    background-color: rgb(169, 192, 236);
    padding-left: 15px;
}

.popular_sale {
    position: absolute;
    right: 25px;
    top: 10px;
    padding: 0 5px;
    background-color: rgb(217, 217, 217);
}

.page_num_list {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
}

.page_num {
    text-align: center;
    padding: 10px 16px;
    border: 1px solid;
}

.decor_div1 {
    height: 13%;
}

.decor_div2 {
    height: 100%;
    z-index: 0;
}

.marker_container {
    /* position: static;
    margin-left: 10px;
    margin-top: 7px; */
    right: 10px;
    top: 15px;
}

.active_filters__summary {
    display: flex;
    padding: 10px 15px;
    padding-right: 25px;
}

.summary_marker_stick1 {
    transform: translateY(-50%);
    border: 1px solid black;
    width: 10px;
    height: 0;
    transform: rotate(45deg);
}

.summary_marker_stick2 {
    margin-top: 6px;
    transform: translateY(50%);
    border: 1px solid black;
    width: 10px;
    height: 0;
    transform: rotate(-45deg);
}

.active_filters__sub_list {
    position: absolute;
    left: 0;
    z-index: 1;
    top: -13px;
}

.active_filters__details {
    background-color: #B9DEFED9;
    width: 210px;
}

.active_filter__disabler {
    font-size: inherit;
    position: absolute;
    right: -15px;
    top: 0;
}

.summary_filters {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

body:not(details):hover>details:not(:hover) {
    display: none;
}

.summary_filter {
    position: relative;
}

.custom_checkbox {
    opacity: 0;
    position: absolute;
    vertical-align: middle;
}

.custom_checkbox + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.custom_checkbox + label:before {
    content: '';
    position: absolute;
    left: 0;    
    top: 0;
    width: 16px; 
    height: 16px; 
    background-color: #fff; 
}

.custom_checkbox + label::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 8px; 
    height: 8px; 
    background-color: rgb(0, 130, 240);
    box-shadow: 0 0 5px rgb(0, 130, 240, 1);
    opacity: 0;
    filter: blur(1px);
}

.custom_checkbox:checked + label::after {
    opacity: 1;
}

.filters_producs__title {
    margin: 10px 0 30px 20px;
}

.price_spread_box {
    margin-left: 20px;
}

.price-range {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.price-range input {
    width: 90px;
    height: 30px;
    margin-right: 10px;
    padding-left: 10px;
    background-color: white;
    border: none;
    outline: none;
}

.price_rage__input_label {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.validity_box {
    margin-left: 20px;
}

.validity_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.in_stock_box {
    margin-left: 20px;
    margin-top: 30px;

}

.operating_system_box {
    margin-left: 20px;
    margin-bottom: 30px;
}

.operating_system_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}