.product_page_container{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    gap: 80px;
}

.product_page__img {
    width: 620px;
    height: 620px;
    background-color: rgb(217, 217, 217);
}

.product__name {
    font-size: 40px;
    margin-bottom: 15px;
}

.product__rating {
    display: flex;
    gap: 10px;
    margin-bottom: 35px;
}

.price_share_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.product__price {
    font-size: 48px;
}

.icons_buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn_add {
    max-width: 260px;
    max-height: 45px;
    padding: 10px 30px;
    background-color: rgb(215, 197, 197);
    border-color: rgb(215, 197, 197);
    margin-bottom: 20px;
}

.btn_buy_now {
    background-color: rgba(217, 217, 217, 0.5);
    border-color: rgba(217, 217, 217, 0.5);
    max-width: 260px;
    max-height: 45px;
    padding: 10px 30px;
    margin-bottom: 70px;
}

.saler_name {
    margin-bottom: 20px;
}

.descr_from_saler {
    margin-bottom: 20px;
}

.product__saler_descr {
    padding-bottom: 10px;
}

.decrs_for_customer {
    margin-bottom: 20px;
}

.type {
    margin-bottom: 20px;
}

.platform {
    margin-bottom: 20px;
}

.saler_info {
    margin-bottom: 50px;
}

.reviews_container {
    max-width: 1100px;
    margin-left: 100px;
}

.reviews_title {
    display: inline;
    margin-bottom: 10px;
    position: relative;
    font-size: 24px;
}

.reviews_num {
    position: absolute;
    right: -10px;
    top: -3px;
    font-size: 14px;
}

.user_rating_container {
    display: flex;
    gap: 10px;
    margin-bottom: 45px;
    align-items: center;
}

.user_rating {
    display: flex;
}

.send_review_form__placeholder {
    width: 700px;
    height: 70px;
    background-color: rgb(217, 217, 217);
}

.send_review_form__placeholder::placeholder {
    padding: 15px;
    justify-content: top;
    align-items: top;
}

.send_review_form {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.form_user_rating {
    display: flex;
    gap: 5px;
}

.sort_items {
    display: flex;
    gap: 30px;
    margin-bottom: 35px;
}

.short_com_info {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.another_user_comment {
    display: flex;
    align-items: center;
    gap: 30px;
}

.user_com {
    width: 700px;
    min-height: 70px;
    background-color: rgb(217, 217, 217);
    margin-bottom: 20px;
}

.another_user_rating {
    display: flex;
    margin-bottom: 20px;
}

.btn_show_more {
    max-height: 110px;
    padding: 5px 10px;
    background-color: rgba(160, 160, 160, 0.5);
}