.questions {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.questions__title {
    /* padding-top: 90px; */
    margin-top: 90px;
    padding-bottom: 60px;
}

.question {
    margin-bottom: 30px;
}

.question__text {
    font-size: 20px;
    background-color: rgba(136, 198, 252, 0.3);
    padding: 20px;
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(28, 37, 65);
    border-radius: 20px;
}

.question__item[open] .question__text {
    border-radius: 20px 20px 0 0;
}

.question__answer {
    font-size: 20px;
    padding: 25px;
    background-color: rgba(136, 198, 252, 0.1);
    border: 1.5px solid rgba(28, 37, 65, 0.7);
    border-radius: 0 0 20px 20px;
}

summary::marker {
    display: none;
}

.ask_questins {
    width: 400px;
    margin: 0 auto;
    background-color: rgba(136, 198, 252, 0.3);
    border-radius: 20px;
}

.label_question {
    color: rgb(28, 37, 65);
    font-size: 20px;
}

.form_question {
    padding: 11px 0 17px 0;
    margin: 0 17px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summary_marker_stick1 {
    width: 25px;
}

.summary_marker_stick2 {
    margin-top: 16px;
    width: 25px;
}

.form_action_input {
    width: 335px;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    border: 0.5px solid rgb(28, 37, 65);
}

.form_action_input_btn {
    background-color: rgb(0, 130, 240);
    color: white;
    padding: 10px 0;
    font-size: 15px;
}