.questions {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.questions__title {
    /* padding-top: 90px; */
    margin-top: 90px;
    padding-bottom: 60px;
}

.question {
    margin-bottom: 30px;
}

.question__text {
    font-size: 20px;
    background-color: rgba(136, 198, 252, 0.3);
    padding: 20px;
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(28, 37, 65);
    border-radius: 20px;
}

.question__item[open] .question__text {
    border-radius: 20px 20px 0 0;
}

.question__answer {
    font-size: 20px;
    padding: 25px;
    background-color: rgba(136, 198, 252, 0.1);
    border: 1.5px solid rgba(28, 37, 65, 0.7);
    border-radius: 0 0 20px 20px;
}

summary::marker {
    display: none;
}

.ask_questins {
    font-size: 20px;
    margin-top: 90px;
    padding: 20px;
    background-color: rgba(136, 198, 252, 0.3);
    border: 1.5px solid rgb(28, 37, 65);
    border-radius: 20px;
}

.summary_marker_stick1 {
    width: 25px;
}

.summary_marker_stick2 {
    margin-top: 16px;
    width: 25px;
}