.custom-input_user {
    position: relative;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(217, 217, 217);
    justify-content: center;
    align-items: center;
}

.custom-input_user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-input_user .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 230px;
    opacity: 0;
    cursor: pointer;
}

.user_page_container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.user_input_page {
    background-color: rgb(217, 217, 217);
    padding: 10px 16px;
    align-items: center;
    max-width: 220px;
    margin-bottom: 20px;
}

.user_products_title {
    margin-top: 20px;
}

.user_products {
    width: 270px;
    height: 140px;
    background-color: rgb(217, 217, 217);
}

.pos_class {
    position: relative;
}

.user_rating {
    position: absolute;
    bottom: 0px;
}

.user_rating__box {
    position: relative;
    background-color: rgb(217, 217, 217);
    width: 140px;
    height: 140px;
    align-items: center;
    justify-content: center;
}

.user_rating__stars {
    display: flex;
    gap: 3px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.user_rating__num {
    position: absolute;
    top: 35%;
    left: 35%;
}

.user_history_bought_box {
    width: 280px;
    height: 140px;
    background-color: rgb(217, 217, 217);
}