.questions {
    max-width: 1400px;
    margin: 0 auto;
}

.questions__title {
    padding-top: 90px;
    padding-bottom: 60px;
}

.question {
    margin-bottom: 30px;
}

.questiom__text {
    font-size: 20px;
    background-color: rgb(217, 217, 217);
    padding: 20px;
}

.question__answer {
    font-size: 20px;
    padding: 25px;
    background-color: rgba(141, 137, 137, 0.5);
}

summary::marker {
    display: none;
}

.ask_questins {
    font-size: 20px;
    margin-top: 90px;
    padding: 20px;
    background-color: rgb(217, 217, 217);
}