{% extends "pattern.html" %}
{% load static %}
{% load goods_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static "ccs/products_menu.css" %}">
{% endblock %}

{% block content %}
    <div class="main__container">
        <h2 class="products_title">Товары</h2>
        <div class="active_filters">
            <ul class="active_filters__list">
                <li class="active_filters__sub_list">
                    <form id="order_by" action=" {% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:index" %}{% endif %}" method='get'>
                        <details class="active_filters__details">
                            <summary class="active_filters__summary">

                                {% if request.GET.q %}
                                    <input type="hidden" name="q" id="{{ request.GET.q }}">
                                {% endif %}
                                {% if request.GET.order_by %}
                                    {% if request.GET.order_by == 'popularity_checkbox' %}
                                        По популярности
                                    {% elif request.GET.order_by == 'price' %}
                                        Сначала дешёвые
                                    {% elif request.GET.order_by == '-price' %}
                                        Сначала дорогие
                                    {% elif request.GET.order_by == '-avg_rating' %}
                                        По рейтингу
                                    {% elif request.GET.order_by == 'default' %}
                                        По умолчанию
                                    {% endif %}
                                {% else %}
                                    Сортировать по
                                {% endif %}
                                
                                <div class="marker_container">
                                    <div class="summary_marker_stick1"></div>
                                    <div class="summary_marker_stick2"></div>
                                </div>
                            </summary>
                            {% comment %} РАЗОБРАТЬСЯ С ЧЕКЕТОМ ФИЛЬТРОВ {% endcomment %}
                            <ul class="summary_filters">
                                <li class="summary_filter">
                                    <input type="submit" name='order_by' id="Checkbox1" class="custom_checkbox" value="popularity_checkbox">
                                    <label for="Checkbox1">По популярности</label>
                                </li>
                                <li class="summary_filter">
                                    <input type="submit" name='order_by' id="Checkbox2" class="custom_checkbox" value="price"
                                    {% if request.GET.order_by == 'price' %} checked {% endif %}>
                                    <label for="Checkbox2">Сначала дешёвые</label>
                                </li>
                                <li class="summary_filter">
                                    <input type="submit" name='order_by' id="Checkbox3" class="custom_checkbox" value="-price"
                                    {% if request.GET.order_by == '-price' %} checked {% endif %}>
                                    <label for="Checkbox3">Сначала дорогие</label>
                                </li>
                                <li class="summary_filter">
                                    <input type="submit" name='order_by' id="Checkbox4" class="custom_checkbox" value="-avg_rating"
                                    {% if request.GET.order_by == '-avg_rating' %} checked {% endif %}>
                                    <label for="Checkbox4">По рейтингу</label>
                                </li>
                            </ul>
                        </details>
                    </form>
                </li>
                <li class="active_filter"></li>

                {% if request.GET.subscription %}
                    {% with subscription_id=request.GET.subscription|add:"0" %}
                        {% for subscription in subscriptions %}
                            {% if subscription_id == subscription.id %}
                                <li class="active_filter">{{ subscription.name }}</span></li>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endif %}
                
                {% if request.GET.category %}
                    {% with category_id=request.GET.category|add:"0" %}
                        {% for category in categories %}
                            {% if category_id == category.id %}
                                <li class="active_filter">{{ category.name }}</span></li>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endif %}
                
                <form  id="order_by" action=" {% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:index" %}{% endif %}" method='get'>
                    <li class="active_filter"><button type="submit" name='order_by' value="default" class="drop_filters"><a href="{% url "catalog:index" %}">Сбросить все фильтры</a></button></li>
                </form>
                
            </ul>
        </div>
        <div class="filters_producs_container">
            <div class="filters_box">
                <h3 class="filters_producs__title">Фильтры</h3>

                <form id="price_form" action="{% url 'catalog:index' %}" method='get'>
                    <div class="price_spread_box">
                        <p class="price_spread_box__name">Цена, &#8381;</p>
                        <div class="price-range">
                            <div class="price_rage__input_label">
                                <label for="price_from">От</label>
                                <input type="text" name='sort_price_from' id="price_from" placeholder="{{ min_price }}">
                            </div>
                            <div class="price_rage__input_label">
                                <label for="price_to">До</label>
                                <input type="text" name='sort_price_to' id="price_to" placeholder="{{ max_price }}">
                            </div>
                        </div>
                    </div>
                </form>
                <script>
                    const priceForm = document.getElementById("price_form");
                    const priceFromInput = document.getElementById("price_from");
                    const priceToInput = document.getElementById("price_to");
                
                    function submitForm() {
                        priceForm.submit();
                    }
                
                    priceFromInput.addEventListener("change", submitForm);
                    priceToInput.addEventListener("change", submitForm);
                </script>
                
                <form id="subscription" action="{% if request.GET.q %}{% url 'catalog:search' %}{% else %}{% url 'catalog:index' %}{% endif %}" method="get">
                    <div class="validity_box">
                        <h4 class="validity_title">Срок действия</h4>
                        <ul class="validity_list">
                            {% for subscription in subscriptions %}
                                <li class="validity_list__item">
                                    <input type="submit" id="{{ subscription.slug }}" name="subscription" value="{{ subscription.id }}" class="custom_checkbox"{% if request.GET.subscription == subscription.id %}checked{% endif %}>
                                    <label for="{{ subscription.slug }}">{{ subscription.name }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </form>


                <form id="in_stock_filter" action="{% url "catalog:index" %}" method='get'>
                    <div class="in_stock_box">
                        <input type="submit" id="stock_checkbox" name="in_stock" value="true" class="custom_checkbox">
                        <label for="stock_checkbox" class="stock_label">В наличии</label>
                    </div>
                </form>

                <form id="category_filter" action="{% url "catalog:index" %}" method='get'>
                    <div class="operating_system_box">
                        <h4 class="operating_system_title">Операционная система</h4>
                        <ul class="operating_system_list">
                            {% for category in categories %}
                                {% if category.name != 'Все' %}
                                    <li class="operating_system">
                                        <input type="submit" id="{{ category.slug }}" name="category" value="{{ category.id }}" class="custom_checkbox">
                                        <label for="{{ category.slug }}">{{ category.name }}</label>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </form>

            </div>
            <div class="product_box">
                <ul class="products_list">
    
                    {% for product in products %}
                        <li class="product_card">
                            <a href="{% url "catalog:product" product.slug %}">
    
                                {% if product.image %}
                                    <div class="img_decor_card">
                                        <img src="{{ product.image.url }}" alt="" class="product__img shadow_element">
                                        <div class="decor_mini_card_img"></div>
                                    </div>
                                {% else %}
                                    <img src="" alt="" class="product__img shadow_element">
                                {% endif %}
                            
                                {% if product.discount_set.all %}
                                    {% for discount in product.discount_set.all %}
                                        {% if discount.final_price %}
                                            <p class="popular_sale">ВЫГОДНО</p>
                                        {% else %}
                                            <p class="popular_sale"></p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
    
                                <p class="product__name shadow_element">{{ product.name|truncatechars:30 }}</p>
    
                                {% if product.discount_set.all %}
                                    {% for discount in product.discount_set.all %}
                                            <p class="product__price shadow_element">{{ discount.final_price }} ₽</p>
                                    {% endfor %}
                                {% else %}
                                    <p class="product__price shadow_element">{{ product.price }} ₽</p>
                                {% endif %}
    
                            </a>
                        </li>
                    {% endfor %}
    
                </ul>
                <ul class="page_num_list">
    
                    {% if products.paginator.page_range|length > 1 %}
                        {% for page in products.paginator.page_range %}
                            {% if page >= products.number|add:-1 and page <= products.number|add:1 %}
                                <a href="?{% change_params page=page %}"><li class="page_num">{{ page }}</li></a>
                            {% endif %}
                        {% endfor %}    
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
{% endblock  %}