{% extends "main/pattern.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "ccs/products_menu.css" %}">
{% endblock %}

{% block content %}
    <div class="main__container">
        <h2 class="products_title">Товары</h2>
        <div class="active_filters">
            <ul class="active_filters__list">
                <li class="active_filter">Фильтр 1</li>
                <li class="active_filter">Фильтр 2</li>
                <li class="active_filter">Фильтр 3</li>
            </ul>
        </div>
        <div class="filters_producs_container">
            <div class="filters_box">
                <ul class="filters__list">
                    {% for category in categories %}
                        <li class="filter">{{ category.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="product_box">
                <ul class="products_list">
                    {% for product in products  %}
                        <li class="product_card">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="" class="product__img shadow_element">
                            {% else %}
                                <img src="" alt="" class="product__img shadow_element">
                            {% endif %}
                            <p class="popular_sale"></p>
                            <p class="product__name shadow_element">{{ product.name }}</p>
                            <p class="product__price shadow_element">{{ product.price }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock  %}