{% extends "pattern.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "ccs/product_page.css" %}">
    <link rel="stylesheet" href="{% static "adaptation/product_page_media.css" %}">
{% endblock %}

{% block content %}
    <div class="product_page_container">
        <div class="link_container">
            <a class="link_way" href="{% url "main:index" %}">Главная</a>
            <p class="link_way">&gt;</p>
            <a class="link_way" href="{% url "catalog:index" %}">Товары</a>
            <p class="link_way">&gt;</p>
            <a class="link_way" href="">{{ product.name|truncatechars:20 }}</a>
    
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="" class="product_page__img">
            {% else %}      
                <img src="{% static 'deps/отсутсвует.png' %}" alt="" class="product_page__img">
            {% endif %}
        </div>

        <div class="product">
            <h2 class="product__name">{{ product.name }}</h2>
            <div class="product__rating">
                <p class="rating_num">
                    {% with product.review_set.all|length as reviews_count %}
                        {{ reviews_count }} оценок
                    {% endwith %}
                </p>
                <ul class="rating_stars">
                    {% if average_rating_int > 0 %}
                        {% for _ in "x"|rjust:average_rating_int %}
                            <li class="another_user_star">
                                {% comment %} вся закрашена {% endcomment %}
                                <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>Created with Pixso.</desc>
                                    <defs />
                                    <path id="Star_1" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="#FCA95D" fill-opacity="1.000000" fill-rule="evenodd" />
                                </svg>
                            </li>
                        {% endfor %}
                    {% endif %}

                    {% if average_rating_float > 0 %}
                        {% if average_rating_float > 0 and average_rating_float < 0.5 %}
                            <li class="another_user_star">
                                {% comment %} 1/4 звезды {% endcomment %}
                                <svg width="22" height="20.999999999999996" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                                    <desc>Created with Pixso.</desc>
                                    <g class="layer">
                                     <title>Layer 1</title>
                                     <path d="m10.96,0l-2.6,7.98l-8.39,0l6.79,4.94l-2.59,7.98l6.79,-4.93l6.79,4.93l-2.59,-7.98l6.79,-4.94l-8.39,0l-2.59,-7.98z" fill="none" fill-rule="evenodd" id="Star_1" stroke="#FCA95D"/>
                                     <path d="m7.45,8.19c0,0.04 0,10.27 -0.01,10.25c-0.01,-0.02 -3.03,2.23 -3.01,2.19c0.02,-0.04 2.32,-7.63 2.31,-7.65c-0.01,-0.02 -6.58,-4.95 -6.56,-4.87c0.02,0.08 7.27,0.08 7.27,0.08z" fill="#fca95d" id="svg_2" stroke="#fca95d"/>
                                    </g>
                                </svg>
                            </li>
                        {% endif %}
                        {% if average_rating_float == 0.5 %}
                            <li class="another_user_star">
                                {% comment %} на половину закрашена {% endcomment %}
                                <svg width="22" height="21" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>Created with Pixso.</desc>
                                    <defs />
                                    <path id="RightStar" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="none" stroke="#FCA95D" stroke-width="1" />
                                    <path id="LeftStar" d="M19 0L14.5 13.81L0 13.81L11.73 22.36L7.24 36.18L19 27.64L19 0Z" fill="#FCA95D" fill-opacity="1" />
                                </svg>
                            </li>
                        {% endif %}
                        {% if average_rating_float > 0.5 and average_rating_float < 1 %}
                            <li class="another_user_star">
                                {% comment %} 3/4 звезды {% endcomment %}
                                <svg width="22" height="20.999999999999996" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                                    <desc>Created with Pixso.</desc>
                                    <g class="layer">
                                     <title>Layer 1</title>
                                     <path d="m10.96,0l-2.6,7.98l-8.39,0l6.79,4.94l-2.59,7.98l6.79,-4.93l6.79,4.93l-2.59,-7.98l6.79,-4.94l-8.39,0l-2.59,-7.98z" fill="none" fill-rule="evenodd" id="Star_1" stroke="#FCA95D"/>
                                     <path d="m14.14,18.26c0.02,0.2 -0.02,-10.13 -0.03,-10.15c-0.01,-0.02 -0.58,-0.1 -0.58,-0.12c-0.01,-0.02 -2.47,-7.35 -2.48,-7.37c-0.01,-0.02 -2.65,7.41 -2.66,7.39c-0.01,-0.02 -7.73,0.14 -7.73,0.12c-0.01,-0.02 6.19,4.73 6.17,4.73c-0.02,0 -2.28,7.33 -2.28,7.35c0,0.02 6.28,-4.41 6.3,-4.41c0.02,0 3.26,2.25 3.28,2.46z" fill="#fca95d" id="svg_9" stroke="#FCA95D"/>
                                    </g>
                                </svg>  
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if anti_average_rating > 0 %}
                        {% for _ in "x"|rjust:anti_average_rating %}
                            <li class="another_user_star">
                                {% comment %} пустая {% endcomment %}
                                <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>Created with Pixso.</desc>
                                    <defs />
                                    <path id="Star_1" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="none" stroke="#FCA95D" stroke-width="1" fill-rule="evenodd" />
                                </svg>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="price_share_container">
                
                {% if product.discount_percentage %}
                    <p class="product__price shadow_element">{{ product.discount_price }} ₽</p>
                {% else %}
                    <p class="product__price shadow_element">{{ product.price }} ₽</p>
                {% endif %}

                <ul class="icons_buttons">
                    <li class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="34"
                        height="34">
                        <path fill="none" stroke="#000000" stroke-width="2"
                            d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.42 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.03C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.42 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" />
                    </svg>
                </li>
                <li class="icon">
                    <svg width="34px" height="34px" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9 12C9 13.3807 7.88071 14.5 6.5 14.5C5.11929 14.5 4 13.3807 4 12C4 10.6193 5.11929 9.5 6.5 9.5C7.88071 9.5 9 10.6193 9 12Z"
                            stroke="black" stroke-width="1.5" />
                        <path d="M14 6.5L9 10" stroke="black" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M14 17.5L9 14" stroke="black" stroke-width="1.5" stroke-linecap="round" />
                        <path
                            d="M19 18.5C19 19.8807 17.8807 21 16.5 21C15.1193 21 14 19.8807 14 18.5C14 17.1193 15.1193 16 16.5 16C17.8807 16 19 17.1193 19 18.5Z"
                            stroke="black" stroke-width="1.5" />
                        <path
                            d="M19 5.5C19 6.88071 17.8807 8 16.5 8C15.1193 8 14 6.88071 14 5.5C14 4.11929 15.1193 3 16.5 3C17.8807 3 19 4.11929 19 5.5Z"
                            stroke="black" stroke-width="1.5" />
                    </svg>
                </li>
                <li class="icon">
                    <svg width="34px" height="34px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                        fill="#000000">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.5 1h13l.5.5v10l-.5.5H7.707l-2.853 2.854L4 14.5V12H1.5l-.5-.5v-10l.5-.5zm6 10H14V2H2v9h2.5l.5.5v1.793l2.146-2.147L7.5 11zm0-8h1v5h-1V3zm0 7h1V9h-1v1z" />
                    </svg>
                </li>
                </ul>
            </div>
            <div class="btns_container">
                <a href="{% url "basket:basket_add" %}" class="btn btn_add add-to-basket"
                    data-product-id="{{ product.id }}">   
                    {% csrf_token %}
                    <b>Добавить в корзину</b></a>
                <a href="{% url "basket:basket_add" %}" class="btn btn_buy_now add-to-basket"
                    data-product-id="{{ product.id }}" onclick="redirectToBasket()">
                    {% csrf_token %}
                    <b>Купить сейчас</b>
                 </a>
            </div>
            <div class="saler_info">
                <p class="saler_name"><b>Продавец: </b>{{ product.manufacturer.username }}</p>

                {% if product.description %}
                    <details class="descr_from_saler">
                        <summary class="product__saler_descr">
                            <b>О товаре</b>
                            <div class="marker_container">
                                <div class="summary_marker_stick1"></div>
                                <div class="summary_marker_stick2"></div>
                            </div></summary>
                        <p class="short_descr">{{ product.description }}</p>
                    </details>
                {% endif %}

                {% if product.peculiarities %}
                    <details class="descr_from_saler">
                        <summary class="product__saler_descr">
                            <p class="peculiarities_title"><b>Особенности</b></p>
                            <div class="marker_container">
                                <div class="summary_marker_stick1"></div>
                                <div class="summary_marker_stick2"></div>
                            </div>
                        </summary>
                        <ul class="list_peculiarities">
                            <li>{{ product.peculiarities }}</li>
                        </ul>
                    </details>
                {% endif %}

                {% if specifications %}
                    <details class="descr_from_saler">
                        <summary class="product__saler_descr">
                            <p class="technical_skills_title"><b>Технические особенности</b></p>
                            <div class="marker_container">
                                <div class="summary_marker_stick1"></div>
                                <div class="summary_marker_stick2"></div>
                            </div>
                        </summary>
                        <ul class="list_technical_skills">
                            {% for specification in specifications %}
                                <li>Тип носителя: {{ specification.media_type }}</li>
                                <li>Тип поставки: {{ specification.delivery_type }}</li>
                                <li>Назначение: {{ specification.purpose }}</li>
                                <li>Срок действия: {{ specification.validity_period }}</li>
                                <li>Разрядность: {{ specification.bitness }}</li>
                            {% endfor %}
                        </ul>
                    </details>
                {% endif %}
                
                <p class="platform"><b>Платформа: </b>{{ product.category.name }}</p>
            </div>
        </div>
    </div>
    <div class="reviews_container">
        <h2 class="reviews_title">Отзывы
            <p class="reviews_num">
                
                {% with product.review_set.all|length as reviews_count %}
                    {{ reviews_count }}
                {% endwith %}
                
            </p>
        </h2>
        <div class="user_rating_container">
            <ul class="user_rating">
                {% if average_rating_int > 0 %}
                    {% for _ in "x"|rjust:average_rating_int %}
                        <li class="another_user_star">
                            {% comment %} вся закрашена {% endcomment %}
                            <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <desc>Created with Pixso.</desc>
                                <defs />
                                <path id="Star_1" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="#FCA95D" fill-opacity="1.000000" fill-rule="evenodd" />
                            </svg>
                        </li>
                    {% endfor %}
                {% endif %}
                {% if average_rating_float > 0 %}
                    {% if average_rating_float > 0 and average_rating_float < 0.5 %}
                        <li class="another_user_star">
                            {% comment %} 1/4 звезды {% endcomment %}
                            <svg width="22" height="20.999999999999996" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                                <desc>Created with Pixso.</desc>
                                <g class="layer">
                                 <title>Layer 1</title>
                                 <path d="m10.96,0l-2.6,7.98l-8.39,0l6.79,4.94l-2.59,7.98l6.79,-4.93l6.79,4.93l-2.59,-7.98l6.79,-4.94l-8.39,0l-2.59,-7.98z" fill="none" fill-rule="evenodd" id="Star_1" stroke="#FCA95D"/>
                                 <path d="m7.45,8.19c0,0.04 0,10.27 -0.01,10.25c-0.01,-0.02 -3.03,2.23 -3.01,2.19c0.02,-0.04 2.32,-7.63 2.31,-7.65c-0.01,-0.02 -6.58,-4.95 -6.56,-4.87c0.02,0.08 7.27,0.08 7.27,0.08z" fill="#fca95d" id="svg_2" stroke="#fca95d"/>
                                </g>
                            </svg>
                        </li>
                    {% endif %}
                    {% if average_rating_float == 0.5 %}
                        <li class="another_user_star">
                            {% comment %} на половину закрашена {% endcomment %}
                            <svg width="22" height="21" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <desc>Created with Pixso.</desc>
                                <defs />
                                <path id="RightStar" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="none" stroke="#FCA95D" stroke-width="1" />
                                <path id="LeftStar" d="M19 0L14.5 13.81L0 13.81L11.73 22.36L7.24 36.18L19 27.64L19 0Z" fill="#FCA95D" fill-opacity="1" />
                            </svg>
                        </li>
                    {% endif %}
                    {% if average_rating_float > 0.5 and average_rating_float < 1 %}
                        <li class="another_user_star">
                            {% comment %} 3/4 звезды {% endcomment %}
                            <svg width="22" height="20.999999999999996" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                                <desc>Created with Pixso.</desc>
                                <g class="layer">
                                 <title>Layer 1</title>
                                 <path d="m10.96,0l-2.6,7.98l-8.39,0l6.79,4.94l-2.59,7.98l6.79,-4.93l6.79,4.93l-2.59,-7.98l6.79,-4.94l-8.39,0l-2.59,-7.98z" fill="none" fill-rule="evenodd" id="Star_1" stroke="#FCA95D"/>
                                 <path d="m14.14,18.26c0.02,0.2 -0.02,-10.13 -0.03,-10.15c-0.01,-0.02 -0.58,-0.1 -0.58,-0.12c-0.01,-0.02 -2.47,-7.35 -2.48,-7.37c-0.01,-0.02 -2.65,7.41 -2.66,7.39c-0.01,-0.02 -7.73,0.14 -7.73,0.12c-0.01,-0.02 6.19,4.73 6.17,4.73c-0.02,0 -2.28,7.33 -2.28,7.35c0,0.02 6.28,-4.41 6.3,-4.41c0.02,0 3.26,2.25 3.28,2.46z" fill="#fca95d" id="svg_9" stroke="#FCA95D"/>
                                </g>
                            </svg>                                
                        </li>
                    {% endif %}
                {% endif %}
                {% if anti_average_rating > 0 %}
                    {% for _ in "x"|rjust:anti_average_rating %}
                        <li class="another_user_star">
                            {% comment %} пустая {% endcomment %}
                            <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <desc>Created with Pixso.</desc>
                                <defs />
                                <path id="Star_1" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="none" stroke="#FCA95D" stroke-width="1" fill-rule="evenodd" />
                            </svg> 
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <p class="user_num_stars">
                {% if average_rating %}
                    {{ average_rating|floatformat:"1" }}
                {% endif %}
            </p> 
        </div>
        <form action="{% url "catalog:addReviews" %}" class="send_review_form" method="post">
            {% csrf_token %}
            <input type="hidden" name="product" id="id_product" value="{{ product.id }}">
            <input type="hidden" name="user" id="id_user" value="{{ user.id }}">
            <input type="text" name="comment" id="id_comment" required placeholder="Написать отзыв" class="send_review_form__placeholder">
            <div class="rating-area">
                <input type="radio" id="star-5" name="rating" value="5">
                <label for="star-5" title="Оценка «5»"></label>
                <input type="radio" id="star-4" name="rating" value="4">
                <label for="star-4" title="Оценка «4»"></label>
                <input type="radio" id="star-3" name="rating" value="3">
                <label for="star-3" title="Оценка «3»"></label>
                <input type="radio" id="star-2" name="rating" value="2">
                <label for="star-2" title="Оценка «2»"></label>
                <input type="radio" id="star-1" name="rating" value="1">
                <label for="star-1" title="Оценка «1»"></label>
            </div>
        </form>
        <div class="sort_items">
            <p class="text_sort"><b>Сортировать по:</b></p>
            <form action="">
                <a class="sort_date" type="submit">Дата</a>
                <a class="rating" type="submit">Оценка</a>
            </form>
        </div>
        <ul class="users_list_reviews">
            {% for review in reviews %}
                <li class="another_user_review">
                    <div class="short_com_info">
                        <p class="another_user_name">{{ review.user.username }}</p>
                        <p class="data_send">{{ review.date_added }}</p>
                    </div>
                    <div class="another_user_comment">
                        <p class="user_com">{{ review.comment }}</p>
                        <ul class="another_user_rating">
                            {% if review.star_rating.0 > 0 %}
                                {% for _ in "x"|rjust:review.star_rating.0 %}
                                    <li class="another_user_star">
                                        {% comment %} вся закрашена {% endcomment %}
                                        <svg width="39.000000" height="37.000000" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>Created with Pixso.</desc>
                                            <defs />
                                            <path id="Star_1" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="#FCA95D" fill-opacity="1.000000" fill-rule="evenodd" />
                                        </svg>
                                    </li>
                                {% endfor %}
                            {% endif %}
                            {% if review.star_rating.1 > 0 %}
                                {% if review.star_rating.1 > 0 and review.star_rating.1 < 0.5 %}
                                    <li class="another_user_star">
                                        {% comment %} 1/4 звезды {% endcomment %}
                                        <svg width="39" height="37" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                                            <desc>Created with Pixso.</desc>
                                            <g class="layer">
                                            <title>Layer 1</title>
                                            <path d="m19,0l-4.5,13.81l-14.53,0l11.76,8.55l-4.49,13.82l11.76,-8.54l11.75,8.54l-4.49,-13.82l11.76,-8.55l-14.53,0l-4.49,-13.81z" fill="none" fill-rule="evenodd" id="Star_1" stroke="#FCA95D"/>
                                            <line fill="none" id="svg_12" stroke="#FCA95D" transform="matrix(1 0 0 1 0 0)" x1="11.86" x2="11.86" y1="33" y2="13.77"/>
                                            <path d="m11.82,22.48l-0.06,10.22c0,0 -4.24,3.26 -4.28,3.26c-0.04,0 4.34,-13.48 4.34,-13.48z" fill="#FCA95D" id="svg_1" stroke="#FCA95D" transform="matrix(1 0 0 1 0 0)"/>
                                            <path d="m11.84,13.86l-0.04,8.35l-11.65,-8.35l11.69,0z" fill="#FCA95D" id="svg_3" stroke="#FCA95D" transform="matrix(1 0 0 1 0 0)"/>
                                            </g>
                                        </svg>
                                    </li>
                                {% endif %}
                                {% if review.star_rating.1 == 0.5 %}
                                    <li class="another_user_star">
                                        {% comment %} на половину закрашена {% endcomment %}
                                        <svg width="39" height="37" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>Created with Pixso.</desc>
                                            <defs />
                                            <path id="RightStar" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="none" stroke="#FCA95D" stroke-width="1" />
                                            <path id="LeftStar" d="M19 0L14.5 13.81L0 13.81L11.73 22.36L7.24 36.18L19 27.64L19 0Z" fill="#FCA95D" fill-opacity="1" />
                                        </svg>
                                    </li>
                                {% endif %}
                                {% if review.star_rating.1 > 0.5 and review.star_rating.1 < 1 %}
                                <li class="another_user_star">
                                    {% comment %} 3/4 звезды {% endcomment %}
                                    <svg width="39" height="37" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                                        <desc>Created with Pixso.</desc>
                                        <g class="layer">
                                        <title>Layer 1</title>
                                        <path d="m19,0l-4.5,13.81l-14.53,0l11.76,8.55l-4.49,13.82l11.76,-8.54l11.75,8.54l-4.49,-13.82l11.76,-8.55l-14.53,0l-4.49,-13.81z" fill="none" fill-rule="evenodd" id="Star_1" stroke="#FCA95D"/>
                                        <path d="m25.23,32.15l-6.28,-4.55l-11.57,8.29l4.29,-13.54l-11.46,-8.41l14.18,-0.19l4.51,-13.2l4.51,13.24l1.75,0.04l0.04,18.32z" fill="#FCA95D" id="svg_2" stroke="#FCA95D"/>
                                        <line fill="none" id="svg_1" stroke="#FCA95D" transform="matrix(1 0 0 1 0 0)" x1="25.2" x2="25.2" y1="32.35" y2="13.78"/>
                                        </g>
                                    </svg>                                   
                                </li>
                                {% endif %}
                            {% endif %}
                            {% if review.star_rating.2 > 0 %}
                                {% for _ in "x"|rjust:review.star_rating.2 %}
                                    <li class="another_user_star">
                                        <svg width="39.000000" height="37.000000" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>Created with Pixso.</desc>
                                            <defs />
                                            <path id="Star_1" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="none" stroke="#FCA95D" stroke-width="1" fill-rule="evenodd" />
                                        </svg> 
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a class="btn_show_more btn">Смотреть ещё</a>
    </div>
    <script src="{% static "js/product_page.js" %}" ></script>
    <script>
        function redirectToBasket() {
            window.location.href = "{% url "basket:shopping_basket" %}";
        }
    </script>  
{% endblock %}