{% extends "pattern.html" %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static "ccs/log_in_page.css" %}">
    <link rel="stylesheet" href="{% static "adaptation/log_in_media.css" %}">
{% endblock %}

{% block content %}
    <div class="form_container">
        <div class="form_inputs">
            <h2 class="form_title"><b>Вход</b></h2>
            <form action="{% url "user:LogIn" %}" method="post" class="form_log_in">
                {% csrf_token %}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <input type="text" id="id_username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" name="username" required placeholder="Введите логин" class="input_log">
                <input type="password" id="id_password" name="password" required placeholder="Введите пароль" class="input_log">
                <div>
                    <input type="submit" value="Войти" class="btn_send_database">
                </div> 
            </form>
        </div>
        <img src="" alt="" class="log_in_page_img">
    </div>
{% endblock %}