{% extends "pattern.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "ccs/user_page.css" %}">
    <link rel="stylesheet" href="{% static "adaptation/user_page_media.css" %}">
{% endblock %}

{% block content %}
    <form action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="user_page_container">
            <div>
                <div class="custom-input_user">

                    {% if user.image %}
                        <div class="img_decor_card">
                            <img src="{{ user.image.url }}" alt="" class="product__img shadow_element">
                        </div>
                    {% else %}
                        <img src="{% static 'deps/фото пользователя нет.png' %}" alt="" class="product__img shadow_element">
                    {% endif %}
                    <label for="photo" class="upload-button"></label>
                    <input type="file" id="id_image" name="image" class="upload-button" accept="image/*">
                    {% if form.image.errors %}
                        <p>{{ form.image.errors }}</p>
                    {% endif %}

                </div>
            </div>
            <div>
                <div>
                    <label for="first_name">Имя</label><br>
                    <input type="text" id="id_first_name" name="first_name" class="user_input_page" value="{{ form.first_name.value }}" placeholder="Добавьте имя"><br>
                    {% if form.first_name.errors %}
                        <p>{{ form.first_name.errors }}</p> 
                    {% endif %}
                </div>
                <div>
                    <label for="last_name">Фамилия</label><br>
                    <input type="text" id="id_last_name" name="last_name" class="user_input_page" value="{{ form.last_name.value }}" placeholder="Добавьте фамилию"><br>
                    {% if form.last_name.errors %}
                        <p>{{ form.last_name.errors }}</p> 
                    {% endif %}
                </div>
                <div>
                    <label for="middle_name">Отчество</label><br>
                    <input type="text" id="id_middle_name" name="middle_name" class="user_input_page" value="{{ form.middle_name.value }}" placeholder="Добавьте отчество"><br>
                    {% if form.middle_name.errors %}
                        <p>{{ form.middle_name.errors }}</p> 
                    {% endif %}
                </div>
                <input type="submit" value="Сохранить измененния" class="save_user_data_btn btn">
                <p class="user_products_title">Размещенные вами товары</p>
                <div class="user_products">
                    <div class="imgs_container">
                        <ul class="user_products__list">

                            {% if not products %}
                                <p>Товаров нет</p>
                            {% endif %}
                            {% for product in products %}
                                {% if product.image %}
                                    <li class="user_product"><img src="{{ product.image.url }}" alt="" class="user_product__img"></li>
                                {% else %}
                                    <li class="user_product"><img src="{% static 'deps/отсутсвует.png' %}" alt="" class="user_product__img"></li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <p class="user_products_title">Избранные товары</p>
                <div class="user_products_liked">
                    <div class="imgs_container">
                        <ul class="user_products__list">
                            <li class="user_product"><img src="" alt="" class="user_product__img"></li>
                            <li class="user_product"><img src="" alt="" class="user_product__img"></li>
                            <li class="user_product"><img src="" alt="" class="user_product__img"></li>
                            <li class="user_product"><img src="" alt="" class="user_product__img"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pos_class">
                <label for="e-mail">E-mail</label><br>
                <input type="email" id="id_email" name="email" class="user_input_page" value="{{ form.email.value }}" placeholder="Добавьте почту" required><br>
                {% if form.email.errors %}
                    <p>{{ form.email.errors }}</p> 
                {% endif %}
        
                <label for="phone_num">Номер телефона</label><br>
                <input type="text" id="id_phone" name="phone" class="user_input_page" value="{{ form.phone.value }}" placeholder="Добавьте номер телефона"><br>
                {% if form.phone.errors %}
                    <p>{{ form.phone.errors }}</p> 
                {% endif %}

                <label for="login">Логин</label><br>
                <p class="user_input_page">{{ user.username }}</p><br>

                <div class="user_rating">
                    <p class="user_rating__title">Средний рейтинг товаров</p>
                    <div class="user_rating__box">

                        {% if average_rating %}
                            <p class="user_rating__num">{{ average_rating|floatformat:1 }}</p>
                        {% else %}
                            <p class="user_rating__num">Нет оценок</p>
                        {% endif %}
                        
                        <ul class="user_rating__stars">
                            {% if average_rating_int > 0 %}
                                {% for _ in "x"|rjust:average_rating_int %}
                                    <li class="another_user_star">
                                        <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>Created with Pixso.</desc>
                                            <defs />
                                            <path id="Star_1" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="#FCA95D" fill-opacity="1.000000" fill-rule="evenodd" />
                                        </svg>
                                    </li>
                                {% endfor %}
                            {% endif %}
                            {% if average_rating_float > 0 %}
                                {% if average_rating_float > 0 and average_rating_float < 0.5 %}
                                    <li class="another_user_star">
                                        {% comment %} 1/4 звезды {% endcomment %}
                                        <svg width="22" height="20.999999999999996" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                                            <desc>Created with Pixso.</desc>
                                            <g class="layer">
                                             <title>Layer 1</title>
                                             <path d="m10.96,0l-2.6,7.98l-8.39,0l6.79,4.94l-2.59,7.98l6.79,-4.93l6.79,4.93l-2.59,-7.98l6.79,-4.94l-8.39,0l-2.59,-7.98z" fill="none" fill-rule="evenodd" id="Star_1" stroke="#FCA95D"/>
                                             <path d="m7.45,8.19c0,0.04 0,10.27 -0.01,10.25c-0.01,-0.02 -3.03,2.23 -3.01,2.19c0.02,-0.04 2.32,-7.63 2.31,-7.65c-0.01,-0.02 -6.58,-4.95 -6.56,-4.87c0.02,0.08 7.27,0.08 7.27,0.08z" fill="#fca95d" id="svg_2" stroke="#fca95d"/>
                                            </g>
                                        </svg>
                                    </li>
                                {% endif %}
                                {% if average_rating_float == 0.5 %}
                                    <li class="another_user_star">
                                        {% comment %} на половину закрашена {% endcomment %}
                                        <svg width="22" height="21" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>Created with Pixso.</desc>
                                            <defs />
                                            <path id="RightStar" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="none" stroke="#FCA95D" stroke-width="1" />
                                            <path id="LeftStar" d="M19 0L14.5 13.81L0 13.81L11.73 22.36L7.24 36.18L19 27.64L19 0Z" fill="#FCA95D" fill-opacity="1" />
                                        </svg>
                                    </li>
                                {% endif %}
                                {% if average_rating_float > 0.5 and average_rating_float < 1 %}
                                    <li class="another_user_star">
                                        {% comment %} 3/4 звезды {% endcomment %}
                                        <svg width="22" height="20.999999999999996" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                                            <desc>Created with Pixso.</desc>
                                            <g class="layer">
                                             <title>Layer 1</title>
                                             <path d="m10.96,0l-2.6,7.98l-8.39,0l6.79,4.94l-2.59,7.98l6.79,-4.93l6.79,4.93l-2.59,-7.98l6.79,-4.94l-8.39,0l-2.59,-7.98z" fill="none" fill-rule="evenodd" id="Star_1" stroke="#FCA95D"/>
                                             <path d="m14.14,18.26c0.02,0.2 -0.02,-10.13 -0.03,-10.15c-0.01,-0.02 -0.58,-0.1 -0.58,-0.12c-0.01,-0.02 -2.47,-7.35 -2.48,-7.37c-0.01,-0.02 -2.65,7.41 -2.66,7.39c-0.01,-0.02 -7.73,0.14 -7.73,0.12c-0.01,-0.02 6.19,4.73 6.17,4.73c-0.02,0 -2.28,7.33 -2.28,7.35c0,0.02 6.28,-4.41 6.3,-4.41c0.02,0 3.26,2.25 3.28,2.46z" fill="#fca95d" id="svg_9" stroke="#FCA95D"/>
                                            </g>
                                        </svg>                             
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if anti_average_rating > 0 %}
                                {% for _ in "x"|rjust:anti_average_rating %}
                                    <li class="another_user_star">
                                        <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>Created with Pixso.</desc>
                                            <defs />
                                            <path id="Star_1" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="none" stroke="#FCA95D" stroke-width="1" fill-rule="evenodd" />
                                        </svg> 
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div>
                <p>Cпособ оплаты</p>
                <div class="active_filters__sub_list">
                    <form action="">
                        <details class="active_filters__details">
                            <summary class="active_filters__summary">

                                {% if user.payment_method %}
                                    {{ user.payment_method.bank }} ⋅⋅ {{ user.payment_method.card_num|slice:"-4:" }}
                                {% else %}
                                    Укажите способ оплаты
                                {% endif %}

                                <div class="marker_container">
                                    <div class="summary_marker_stick1"></div>
                                    <div class="summary_marker_stick2"></div>
                                </div>
                            </summary>
                            <ul class="summary_filters">

                                <form id="paymentMethodForm" method="post">
                                    {% csrf_token %}
                                    {% for payment_method in payment_methods %}
                                    <li class="summary_filter">
                                        <input type="radio" id="payment_method_{{ payment_method.id }}" name="payment_method" class="custom_radio" value="{{ payment_method.id }}">
                                        <label for="payment_method_{{ payment_method.id }}">{{ payment_method.bank }} ⋅⋅ {{ payment_method.card_num|slice:"-4:" }}</label>
                                    </li>
                                    {% endfor %}
                                </form>

                                <li class="summary_filter">
                                    <button class="save_payment_method_btn btn">Добавить способ оплаты</button>
                                </li>
                            </ul>
                        </details>
                    </form>
                </div>
                <p class="user_history_bought">Уже покупали</p>
                <div class="user_history_bought_box">
                    <div class="imgs_container">
                        <ul class="user_products__list">


                            {% if not buy_history %}
                                Покупок небыло
                            {% endif %}
                            {% for product_his in buy_history %}
                                {% if product_his.product.image %}
                                    <li class="user_product"><img src="{{ product_his.product.image.url }}" alt="" class="user_product__img"></li>
                                {% else %}
                                    <li class="user_product"><img src="{% static 'deps/отсутсвует.png' %}" alt="" class="user_product__img"></li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>

            <div class="popup_user_products_history">
                <h3 class="popup_title">Мои товары</h3>
                <ul class="active_user_products">

                    {% for product in products %}
                        <a href="{% url "catalog:product" product.slug %}">
                            <li class="active_user_product">

                                {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="" class="active_user_product__img shadow_element">
                                {% else %}
                                    <img src="{% static 'deps/отсутсвует.png' %}" alt="" class="active_user_product__img shadow_element">
                                {% endif %}

                                <p class="active_user_product__name shadow_element">{{ product.name }}</p>
                                <p class="active_user_product__price shadow_element">{{ product.price }} ₽</p>
                                <p class="active_user_product__date shadow_element">{{ product.date_added }}</p>
                            </li>
                        </a>
                    {% endfor %}

                </ul>
                <button class="hide_popup_user_products_history">&#215;</button>
            </div>     
            <div class="popup_user_purchase_history">
                <h3 class="popup_title">Покупки</h3>
                <ul class="history_user_products">

                    {% for product_his in buy_history %}
                        <a href="{% url "catalog:product" product_his.product.slug %}">
                            <li class="active_user_product">

                                {% if product_his.product.image %}
                                    <img src="{{ product_his.product.image.url }}" alt="" class="active_user_product__img shadow_element">
                                {% else %}
                                    <img src="{% static 'deps/отсутсвует.png' %}" alt="" class="active_user_product__img shadow_element">
                                {% endif %}

                                <p class="history_user_product__name shadow_element">{{ product_his.name }}</p>
                                <p class="history_user_product__price shadow_element">{{ product_his.price }} ₽</p>
                                <p class="history_user_product__price shadow_element">{{ product_his.quantity }} шт.</p>
                                <p class="history_user_product__date shadow_element">Дата покупки:<br><span class="date_product_bought">{{ product_his.created_timestamp }}</span></p>
                                <ul class="story_rating_product">
                                    <li class="rating_product_story">
                                        <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>Created with Pixso.</desc>
                                            <defs />
                                            <path id="Star_1" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="none" stroke="#B36F6F" stroke-width="1" fill-rule="evenodd" />
                                        </svg>
                                    </li>
                                    <li class="rating_product_story">
                                        <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>Created with Pixso.</desc>
                                            <defs />
                                            <path id="Star_1" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="none" stroke="#B36F6F" stroke-width="1" fill-rule="evenodd" />
                                        </svg>
                                    </li>
                                    <li class="rating_product_story">
                                        <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>Created with Pixso.</desc>
                                            <defs />
                                            <path id="Star_1" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="none" stroke="#B36F6F" stroke-width="1" fill-rule="evenodd" />
                                        </svg>
                                    </li>
                                    <li class="rating_product_story">
                                        <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>Created with Pixso.</desc>
                                            <defs />
                                            <path id="Star_1" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="none" stroke="#B36F6F" stroke-width="1" fill-rule="evenodd" />
                                        </svg>
                                    </li>
                                    <li class="rating_product_story">
                                        <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>Created with Pixso.</desc>
                                            <defs />
                                            <path id="Star_1" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="none" stroke="#B36F6F" stroke-width="1" fill-rule="evenodd" />
                                        </svg>
                                    </li>
                                </ul>
                            </li>
                        </a>
                    {% endfor %}

                </ul>
                <button class="hide_popup_user_purchase_history">&#215;</button>
            </div>
        </div>
        <div class="popup_user_add_payment_method">
            <div class="popup_user_add_payment_method__container">
                <h3 class="popup_user_add_payment_method__title">Привязка карты</h3>

                <form action="{% url 'users:save_payment_method' %}" method="post">
                    {% csrf_token %}
                    <input type="number" id="id_card_num" name="card_num" placeholder="Номер карты" required class="card_num_input">
                    <div class="date_secret_code_container">
                        <input type="text" id="id_date" name="date" placeholder="ММ/ГГ"
                            pattern="(0[1-9]|1[0-2])\/[0-9]{2}" required class="date_num_input">
                        <input type="number" inputmode="numeric" id="id_CVV" name="CVV" placeholder="CCV/CVC" pattern="[0-9]{3,4}"
                            required class="code_num_input">
                    </div>
                    <input type="text" id="id_bank" name="bank" placeholder="Банк" required class="bank_input">
                    <button type="submit" class="add_payment_method_btn btn">Добавить способ оплаты</button>
                </form>

                <p>*Данные карты надежно защищены</p>
                <button class="hide_popup_add_payment_method hide">&#215;</button>
            </div>
        </div>
    </form>




    <form action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
        <div class="user_page_container_mobile">
            <div class="left_inputs">
                <h2 class="left_inputs__title">Аккаунт</h2>
                <div class="left_inputs__container">
                    <div>
                        <label for="first_name">Имя</label><br>
                        <input type="text" id="id_first_name" name="first_name" class="user_input_page_label" value="{{ form.first_name.value }}" placeholder="Добавьте имя"><br>
                        {% if form.first_name.errors %}
                            <p>{{ form.first_name.errors }}</p> 
                        {% endif %}
                    </div>
                    <div>
                        <label for="last_name">Фамилия</label><br>
                        <input type="text" id="id_last_name" name="last_name" class="user_input_page_label" value="{{ form.last_name.value }}" placeholder="Добавьте фамилию"><br>
                        {% if form.last_name.errors %}
                            <p>{{ form.last_name.errors }}</p> 
                        {% endif %}
                    </div>
                    <div>
                        <label for="middle_name">Отчество</label><br>
                        <input type="text" id="id_middle_name" name="middle_name" class="user_input_page_label" value="{{ form.middle_name.value }}" placeholder="Добавьте отчество"><br>
                        {% if form.middle_name.errors %}
                            <p>{{ form.middle_name.errors }}</p> 
                        {% endif %}
                    </div>
                    <div>
                        <label for="e-mail">E-mail</label><br>
                        <input type="email" id="id_email" name="email" class="user_input_page_label" value="{{ form.email.value }}" placeholder="Добавьте почту" required><br>
                        {% if form.email.errors %}
                            <p>{{ form.email.errors }}</p> 
                        {% endif %}
                    </div>
                    <div>
                        <label for="phone_num">Номер телефона</label><br>
                        <input type="text" id="id_phone" name="phone" class="user_input_page_label" value="{{ form.phone.value }}" placeholder="Добавьте номер телефона"><br>
                        {% if form.phone.errors %}
                            <p>{{ form.phone.errors }}</p> 
                        {% endif %}
                    </div>
                    <div>
                        <label for="login">Логин</label><br>
                        <p class="user_input_page_label">{{ user.username }}</p><br>
                    </div>
                    <input type="submit" value="Сохранить измененния" class="save_user_data_btn btn">
                    <p class="user_products_title">Размещенные вами товары</p>
                    <div class="user_products">
                        <div class="imgs_container">
                            <ul class="user_products__list">

                                {% if not products %}
                                    <p>Товаров нет</p>
                                {% endif %}
                                {% for product in products %}
                                    {% if product.image %}
                                        <li class="user_product"><img src="{{ product.image.url }}" alt="" class="user_product__img"></li>
                                    {% else %}
                                        <li class="user_product"><img src="{% static 'deps/отсутсвует.png' %}" alt="" class="user_product__img"></li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    <p class="user_history_bought">Уже покупали</p>
                    <div class="user_history_bought_box">
                        <div class="imgs_container">
                            <ul class="user_products__list">
                                
                                {% if not buy_history %}
                                    Покупок небыло
                                {% endif %}
                                {% for product_his in buy_history %}
                                    {% if product_his.product.image %}
                                        <li class="user_product"><img src="{{ product_his.product.image.url }}" alt="" class="user_product__img"></li>
                                    {% else %}
                                        <li class="user_product"><img src="{% static 'deps/отсутсвует.png' %}" alt="" class="user_product__img"></li>
                                    {% endif %}
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_inputs">
                <div class="custom-input_user">
                    <label for="photo" class="upload-button"></label>
                    <input type="file" id="photo" name="photo" class="upload-button" accept="image/*">
                </div>
                <form action="">
                    <details class="active_filters__details">
                        <summary class="active_filters__summary">

                            {% if user.payment_method %}
                                {{ user.payment_method.bank }} ⋅⋅ {{ user.payment_method.card_num|slice:"-4:" }}
                            {% else %}
                                Укажите способ оплаты
                            {% endif %}

                            <div class="marker_container">
                                <div class="summary_marker_stick1"></div>
                                <div class="summary_marker_stick2"></div>
                            </div>
                        </summary>
                        <ul class="summary_filters">

                            <form id="paymentMethodForm" method="post">
                                {% csrf_token %}
                                {% for payment_method in payment_methods %}
                                <li class="summary_filter">
                                    <input type="radio" id="payment_method_{{ payment_method.id }}" name="payment_method" class="custom_radio" value="{{ payment_method.id }}">
                                    <label for="payment_method_{{ payment_method.id }}">{{ payment_method.bank }} ⋅⋅ {{ payment_method.card_num|slice:"-4:" }}</label>
                                </li>
                                {% endfor %}
                            </form>

                            <li class="summary_filter">
                                <button class="save_payment_method_btn btn">Добавить способ оплаты</button>
                            </li>
                        </ul>
                    </details>
                </form>
                <div class="user_rating">
                    <p class="user_rating__title">Средний рейтинг товаров</p>
                    <div class="user_rating__box">

                        {% if average_rating %}
                            <p class="user_rating__num">{{ average_rating|floatformat:1 }}</p>
                        {% else %}
                            <p class="user_rating__num">Нет оценок</p>
                        {% endif %}
                        
                        <ul class="user_rating__stars">
                            {% if average_rating_int > 0 %}
                                {% for _ in "x"|rjust:average_rating_int %}
                                    <li class="another_user_star">
                                        <svg width="15.000000" height="14.000000" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>Created with Pixso.</desc>
                                            <defs />
                                            <path id="Star_1" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="#FCA95D" fill-opacity="1.000000" fill-rule="evenodd" />
                                        </svg>
                                    </li>
                                {% endfor %}
                            {% endif %}
                            {% if average_rating_float > 0 %}
                                {% if average_rating_float > 0 and average_rating_float < 0.5 %}
                                    <li class="another_user_star">
                                        {% comment %} 1/4 звезды {% endcomment %}
                                        <svg width="15" height="14" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                                            <desc>Created with Pixso.</desc>
                                            <g class="layer">
                                                <title>Layer 1</title>
                                                <path d="m7.36,0l-2.21,6.79l-7.14,0l5.78,4.21l-2.2,6.79l5.78,-4.21l5.78,4.21l-2.2,-6.79l5.78,-4.21l-7.14,0l-2.2,-6.79z" fill="none" fill-rule="evenodd" id="Star_1" stroke="#FCA95D"/>
                                                <path d="m4.91,6.5c0,0.04 0,8.68 -0.01,8.66c-0.01,-0.02 -2.57,1.88 -2.56,1.84c0.02,-0.04 1.98,-6.93 1.97,-6.95c-0.01,-0.02 -5.61,-4.21 -5.6,-4.14c0.01,0.07 6.2,0.07 6.2,0.07z" fill="#fca95d" id="svg_2" stroke="#fca95d"/>
                                            </g>
                                        </svg>
                                    </li>
                                {% endif %}
                                {% if average_rating_float == 0.5 %}
                                    <li class="another_user_star">
                                        {% comment %} на половину закрашена {% endcomment %}
                                        <svg width="15" height="14" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>Created with Pixso.</desc>
                                            <defs />
                                            <path id="RightStar" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="none" stroke="#FCA95D" stroke-width="1" />
                                            <path id="LeftStar" d="M19 0L14.5 13.81L0 13.81L11.73 22.36L7.24 36.18L19 27.64L19 0Z" fill="#FCA95D" fill-opacity="1" />
                                        </svg>                                        
                                    </li>
                                {% endif %}
                                {% if average_rating_float > 0.5 and average_rating_float < 1 %}
                                    <li class="another_user_star">
                                        {% comment %} 3/4 звезды {% endcomment %}
                                        <svg width="15" height="14" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                                            <desc>Created with Pixso.</desc>
                                            <g class="layer">
                                                <title>Layer 1</title>
                                                <path d="m7.19,0l-1.72,5.28l-5.56,0l4.5,3.27l-1.71,5.28l4.5,-3.27l4.5,3.27l-1.71,-5.28l4.5,-3.27l-5.56,0l-1.71,-5.28z" fill="none" fill-rule="evenodd" id="Star_1" stroke="#FCA95D"/>
                                                <path d="m9.28,11.08c0.02,0.14 -0.01,-7.12 -0.02,-7.13c-0.01,-0.01 -0.39,-0.07 -0.39,-0.08c-0.01,-0.01 -1.64,-4.87 -1.65,-4.88c-0.01,-0.01 -1.76,4.92 -1.76,4.89c-0.01,-0.02 -5.14,0.12 -5.14,0.1c-0.01,-0.02 4.11,3.14 4.11,3.13c-0.01,0 -1.51,4.86 -1.51,4.87c0,0.01 4.16,-2.93 4.17,-2.93c0.01,0 2.71,1.87 2.72,2.05z" fill="#fca95d" id="svg_9" stroke="#FCA95D"/>
                                            </g>
                                        </svg>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if anti_average_rating > 0 %}
                                {% for _ in "x"|rjust:anti_average_rating %}
                                    <li class="another_user_star">
                                        <svg width="15.000000" height="14.000000" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>Created with Pixso.</desc>
                                            <defs />
                                            <path id="Star_1" d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z" fill="none" stroke="#FCA95D" stroke-width="1" fill-rule="evenodd" />
                                        </svg> 
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="{% static "js/user_profile.js" %}" ></script>
    <script>
        document.querySelectorAll('input[type=radio][name=payment_method]').forEach(function(radio) {
            radio.addEventListener('change', function() {
                if (this.checked) {
                    // Отправляем выбранный способ оплаты на сервер
                    var selectedPaymentMethodId = this.value;
                    var csrfToken = '{{ csrf_token }}'; // Получаем CSRF токен из шаблона
                    var url = '/save_payment_method/'; // Путь к представлению Django
        
                    fetch('{% url "users:save_payment_method_id" %}', { // Используйте шаблонные теги Django для получения правильного URL
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-CSRFToken': csrfToken
                        },
                        body: 'payment_method=' + encodeURIComponent(selectedPaymentMethodId)
                    })
                    .then(response => {
                        // Обработка ответа от сервера, если необходимо
                    })
                    .catch(error => {
                        console.error('Ошибка:', error);
                    });
                }
            });
        });
    </script>
{% endblock %}
{% block user_page %}
    <div class="mobile_popup_bougths">
        <div class="close_icon">
            <div class="burger_stick_close3"></div>
            <div class="burger_stick_close4"></div>
        </div>
        <h3 class="mobile_popup_bougths__title">Покупки</h3>
        <ul class="history_user_products">
            <li class="active_user_product">
                <img src="" alt="" class="active_user_product__img shadow_element">
                <p class="history_user_product__price shadow_element">Цена</p>
                <p class="history_user_product__name shadow_element">Название товара</p>
                <p class="history_user_product__date shadow_element">Дата покупки:<span
                        class="date_product_bought">14.12.2000</span></p>
                <ul class="story_rating_product">
                    <li class="rating_product_story">
                        <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <desc>Created with Pixso.</desc>
                            <defs />
                            <path id="Star_1"
                                d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z"
                                fill="none" stroke="#B36F6F" stroke-width="1" fill-rule="evenodd" />
                        </svg>
                    </li>
                    <li class="rating_product_story">
                        <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <desc>Created with Pixso.</desc>
                            <defs />
                            <path id="Star_1"
                                d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z"
                                fill="none" stroke="#B36F6F" stroke-width="1" fill-rule="evenodd" />
                        </svg>
                    </li>
                    <li class="rating_product_story">
                        <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <desc>Created with Pixso.</desc>
                            <defs />
                            <path id="Star_1"
                                d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z"
                                fill="none" stroke="#B36F6F" stroke-width="1" fill-rule="evenodd" />
                        </svg>
                    </li>
                    <li class="rating_product_story">
                        <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <desc>Created with Pixso.</desc>
                            <defs />
                            <path id="Star_1"
                                d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z"
                                fill="none" stroke="#B36F6F" stroke-width="1" fill-rule="evenodd" />
                        </svg>
                    </li>
                    <li class="rating_product_story">
                        <svg width="22.000000" height="21.000000" viewBox="0 0 39 37" fill="none"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <desc>Created with Pixso.</desc>
                            <defs />
                            <path id="Star_1"
                                d="M19 0L14.5 13.81L-0.03 13.81L11.73 22.36L7.24 36.18L19 27.64L30.75 36.18L26.26 22.36L38.02 13.81L23.49 13.81L19 0Z"
                                fill="none" stroke="#B36F6F" stroke-width="1" fill-rule="evenodd" />
                        </svg>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="mobile_popup_sold">
        <div class="close_icon">
            <div class="burger_stick_close3"></div>
            <div class="burger_stick_close4"></div>
        </div>
        <h3 class="mobile_popup_bougths__title">Мои товары</h3>
        <ul class="active_user_products">
            <li class="active_user_product">
                <img src="" alt="" class="active_user_product__img shadow_element">
                <p class="active_user_product__name shadow_element">Название товара</p>
                <p class="active_user_product__price shadow_element">Цена</p>
                <p class="active_user_product__date shadow_element">Дата покупки:<span
                        class="date_product_bought">14.12.2000</span></p>
            </li>
            <li class="active_user_product">
                <img src="" alt="" class="active_user_product__img shadow_element">
                <p class="active_user_product__name shadow_element">Название товара</p>
                <p class="active_user_product__price shadow_element">Цена</p>
                <p class="active_user_product__date shadow_element">Дата покупки:<span
                        class="date_product_bought">14.12.2000</span></p>
            </li>
            <li class="active_user_product">
                <img src="" alt="" class="active_user_product__img shadow_element">
                <p class="active_user_product__name shadow_element">Название товара</p>
                <p class="active_user_product__price shadow_element">Цена</p>
                <p class="active_user_product__date shadow_element">Дата покупки:<span
                        class="date_product_bought">14.12.2000</span></p>
            </li>
        </ul>
    </div>

    <div class="popup_user_add_payment_method_mobile">
        <div class="popup_user_add_payment_method__container">
            <h3 class="popup_user_add_payment_method__title">Привязка карты</h3>
            <form>
                <input type="text" id="cardNumber" name="cardNumber" placeholder="Номер карты" pattern="[0-9]{16}"
                    required class="card_num_input">
                <div class="date_secret_code_container">
                    <input type="text" id="expirationDate" name="expirationDate" placeholder="ММ/ГГ"
                        pattern="(0[1-9]|1[0-2])\/[0-9]{2}" required class="date_num_input">
                    <input type="text" id="cvv" name="cvv" placeholder="CCV/CVC" pattern="[0-9]{3,4}" required
                        class="code_num_input">
                </div>
                <input type="text" id="name_bank" name="cvv" placeholder="Название банка" required
                    class="bank_input">
                <a type="submit" class="add_payment_method_btn btn">Добавить способ оплаты</a>
            </form>
            <p class="popup_payment_security">*Данные карты надежно защищены</p>
            <button class="hide_popup_add_payment_method hide">&#215;</button>
        </div>
    </div>
{% endblock  %}