{% extends "pattern.html" %}
{% load static %}

{% block css %}    
    <link rel="stylesheet" href="{% static "ccs/add_form_page.css" %}">
    <link rel="stylesheet" href="{% static "adaptation/add_product_media.css" %}">
{% endblock %}

{% block content %}
    <div class="form_container">
        <div class="add_form">
            <h2 class="add_form__title"><b>Добавление нового продукта</b></h2>
            <form action="/add_product/add-product/" method="post" class="add_form_inputs" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" placeholder="Напишите название вашего продукта." name="name" required="" id="id_name" class="add_form__input"><br>
                <input type="number" placeholder="Напишите стоимость вашего продукта." name="price" step="any" required="" id="id_price"  class="add_form__input">
                <div class="check_boxs">
                    <div>
                        <input type="radio" id="id_category_1" name="category" value="2" class="checkbox_input custom_checkbox">
                        <label for="id_category_1">MacOS</label>
                    </div>
                    <div>
                        <input type="radio" id="id_category_2" name="category" value="3" class="checkbox_input custom_checkbox">
                        <label for="id_category_2">Linux</label>
                    </div>
                    <div>
                        <input type="radio" id="id_category_3" name="category" value="1" class="checkbox_input custom_checkbox">
                        <label for="id_category_3">Windows</label>
                    </div>
                </div>
                <input type="text" id="id_delivery_type" name="delivery_type" required placeholder="Тип поставки" class="add_form__input"><br>
                <input type="text" id="id_media_type" name="media_type" required placeholder="Тип носителя" class="add_form__input"><br>
                <input type="text" id="id_purpose" name="purpose" required placeholder="Назначение продукта" class="add_form__input"><br>
                <label class="check_boxs_label">Какой срок лицензии у вашего продукта?</label><br>
                <div class="check_boxs_subscription_duration">
                    <div>
                        <input type="radio" name='subscription' id="id_subscription_1" value="5" class="checkbox_input custom_checkbox">
                        <label for="id_subscription_1">1 Месяц</label>
                    </div>
                    <div>
                        <input type="radio" name='subscription' id="id_subscription_2" value="4" class="checkbox_input custom_checkbox">
                        <label for="id_subscription_2">1 Год</label>
                    </div>
                    <div>
                        <input type="radio" name='subscription' id="id_subscription_3" value="3" class="checkbox_input custom_checkbox">
                        <label for="id_subscription_3">2 Года</label>
                    </div>
                    <div>
                        <input type="radio" name='subscription' id="id_subscription_4" value="2" class="checkbox_input custom_checkbox">
                        <label for="id_subscription_4">3 Года</label>
                    </div>
                    <div>
                        <input type="radio" name='subscription' id="id_subscription_5" value="1" class="checkbox_input custom_checkbox">
                        <label for="id_subscription_5">Бессрочная</label>
                    </div>
                </div>
                <label class="check_boxs_label">Какой разрядности ваш продукт?</label><br>
                <div class="check_boxs_bit_depth">
                    <div>
                        <input type="radio" name='bitness' id="id_bitness_0" value="x32" class="checkbox_input custom_checkbox">
                        <label for="id_bitness_0">x32</label>
                    </div>
                    <div>
                        <input type="radio" name='bitness' id="id_bitness_1" value="x64" class="checkbox_input custom_checkbox">
                        <label for="id_bitness_1">x64</label>
                    </div>
                    <div>
                        <input type="radio" name='bitness' id="id_bitness_2" value="x86" class="checkbox_input custom_checkbox">
                        <label for="id_bitness_2">x86</label>
                    </div>
                </div>
                <textarea id="id_description" name="description" rows="4" cols="50" required placeholder="Дайте описание вашему продукту." class="add_form__input textarea_input"></textarea><br>
                <label for="id_image" class="custom-file-upload">
                    <span>Добавить фото продукта.</span>
                    <input type="file" id="id_image" name="image" accept="image/*" class="add_form_add_img" onchange="showUploadMessage()">
                </label>
                <span id="uploadMessage" style="display: none;">Изображение вашего продукта успешно загружено!</span><br>
                <input type="submit" value="Добавить" class="add_form__submit btn">
            </form>
        </div>
    </div>
    <script>
        function showUploadMessage() {
            document.getElementById('uploadMessage').style.display = 'inline';
        }
    </script>
{% endblock %}

{% block decorLine %}
    <svg width="1755" height="934" viewBox="0 0 1755 934" fill="none" xmlns="http://www.w3.org/2000/svg" class="backimg_add_form">
        <g opacity="0.6">
        <g filter="url(#filter0_f_1062_4522)">
        <path d="M13 90H120.5C131.546 90 140.5 98.9543 140.5 110V744.5C140.5 755.546 149.454 764.5 160.5 764.5H750.5C761.546 764.5 770.5 773.454 770.5 784.5V903C770.5 914.046 779.454 923 790.5 923H1549C1560.05 923 1569 914.046 1569 903V766.5C1569 755.454 1577.95 746.5 1589 746.5H1744.5" stroke="#0082F0"/>
        </g>
        <g filter="url(#filter1_f_1062_4522)">
        <path d="M1733.5 140.5H1198.5C1187.45 140.5 1178.5 149.454 1178.5 160.5V776C1178.5 787.046 1169.55 796 1158.5 796H618.5H333C321.954 796 313 787.046 313 776V508C313 496.954 304.046 488 293 488H117C105.954 488 97 496.954 97 508V868.5C97 879.546 88.0457 888.5 77 888.5H10.5" stroke="#8AC7FE" stroke-width="2"/>
        </g>
        <g filter="url(#filter2_f_1062_4522)">
        <path d="M20 11.5H788.5C799.546 11.5 808.5 20.4543 808.5 31.5V286.5C808.5 297.546 799.546 306.5 788.5 306.5H368C356.954 306.5 348 315.454 348 326.5V594C348 605.046 356.954 614 368 614H1561.5C1572.55 614 1581.5 605.046 1581.5 594V347C1581.5 335.954 1590.45 327 1601.5 327H1742" stroke="#8AC7FE" stroke-width="2"/>
        </g>
        </g>
        <defs>
        <filter id="filter0_f_1062_4522" x="3" y="79.5" width="1751.5" height="854" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="5" result="effect1_foregroundBlur_1062_4522"/>
        </filter>
        <filter id="filter1_f_1062_4522" x="0.5" y="129.5" width="1743" height="770" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="5" result="effect1_foregroundBlur_1062_4522"/>
        </filter>
        <filter id="filter2_f_1062_4522" x="10" y="0.5" width="1742" height="624.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="5" result="effect1_foregroundBlur_1062_4522"/>
        </filter>
        </defs>
    </svg>
{% endblock  %}