{% extends "pattern.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "ccs/product_card.css" %}">
    <link rel="stylesheet" href="{% static "ccs/questions.css" %}">
    <link rel="stylesheet" href="{% static "adaptation/main_page_mobile.css" %}">
{% endblock %}


{% block content %}
    <div class="products_container">
        <h2 class="product_title">Популярные товары</h2>
        <div class="product_card">
            <div class="product_card__container">
                <img src="#" alt="Фото товара" class="product_card__img">
                <div class="product_descr_container">
                    <p class="product_card__descr">Описание продукта</p>
                    <p class="product_card__price">9999</p>
                </div>
            </div>
        </div>
        <div class="hidden_card">
        </div>
    </div>
    <div id='quest' class="questions">
        <h2 class="questions__title">Часто задаваемые вопросы</h2>
        <ul class="questions__list">
            {% for question in questions %}
                <li class="question">
                    <details class="question__item">
                        <summary class="question__text">{{ question.name }}
                            <div class="marker_container">
                                <div class="summary_marker_stick1"></div>
                                <div class="summary_marker_stick2"></div>
                            </div>
                        </summary>
                        <p class="question__answer">{{ question.answer }}</p>
                    </details>
                </li>
            {% endfor %}
        </ul>
        <div class="ask_questins">
            <p class="ask_questions_text">Есть вопросы? Можете задать их по адресу: <a href="email">prosowtwareshop@gmail.com</a></p>
        </div>
    </div>
{% endblock %}