{% extends "pattern.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "ccs/product_card.css" %}">
    <link rel="stylesheet" href="{% static "ccs/questions.css" %}">
    <link rel="stylesheet" href="{% static "adaptation/main_page_mobile.css" %}">
{% endblock %}


{% block content %}
    <div class="wrapper">
        <input type="radio" name="point" id="microsoft-windows-10-professional-1" checked>
        <input type="radio" name="point" id="microsoft-office-2021-home-and-student-for-windows-esd-1">
        <input type="radio" name="point" id="microsoft-windows-server-2008-standard-r2-rok-x64-5-cal-1-4-cpu-ru-oem-2">


        <div class="slider">
            {% for product in products %}
                <div class="slides {{ product.slug }}">
                    <div class="title_container">
                        <h2 class="slider_title">Успейте приобрести</h2>
                        <h2 class="slider_title slider_popular_product">Хит продаж</h2>
                        <h2 class="slider_title">По <b>выгодной</b> цене</h2>
                    </div>
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="" class="slider_img">
                        {% else %}
                            <img src="{% static 'deps/отсутсвует.png' %}" alt="" class="slider_img">
                        {% endif %}

                        <div class="slider_price_container">

                            {% if product.discount_percentage %}
                                <p class="normal_price">{{ product.price }} &#8381;</p>
                                <p class="discounted_price">{{ product.discount_price }} &#8381;</p>
                            {% else %}
                                <p class="discounted_price">{{ product.price }} &#8381;</p>
                            {% endif %}

                        </div>
                </div>
            {% endfor %}
        </div>	


        <div class="controls">
            <label for="microsoft-windows-10-professional-1"></label>
            <label for="microsoft-office-2021-home-and-student-for-windows-esd-1"></label>
            <label for="microsoft-windows-server-2008-standard-r2-rok-x64-5-cal-1-4-cpu-ru-oem-2"></label>
        </div>
    </div>
    <div id='quest' class="questions">
        <h2 class="questions__title">Часто задаваемые вопросы</h2>
        <ul class="questions__list">
            {% for question in questions %}
                <li class="question">
                    <details class="question__item">
                        <summary class="question__text">{{ question.name }}
                            <div class="marker_container">
                                <div class="summary_marker_stick1"></div>
                                <div class="summary_marker_stick2"></div>
                            </div>
                        </summary>
                        <p class="question__answer">{{ question.answer }}</p>
                    </details>
                </li>
            {% endfor %}
        </ul>
        <div class="ask_questins">
            <p class="ask_questions_text">Есть вопросы? Можете задать их по адресу: <a href="email">prosowtwareshop@gmail.com</a></p>
        </div>
    </div>
{% endblock %}