{% extends "main/pattern.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "ccs/products_menu.css" %}">
{% endblock %}

{% block content %}
    <div class="main__container">
        <h2 class="products_title">Товары</h2>
        <div class="active_filters">
            <ul class="active_filters__list">
                <li class="active_filter">Фильтр 1</li>
                <li class="active_filter">Фильтр 2</li>
                <li class="active_filter">Фильтр 3</li>
            </ul>
        </div>
        <div class="filters_producs_container">
            <div class="filters_box">
                <ul class="filters__list">
                    <li class="filter">Фильтр 1</li>
                    <li class="filter">Фильтр 2</li>
                    <li class="filter">Фильтр 3</li>
                </ul>
            </div>
            <div class="product_box">
                <ul class="products_list">
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale">ХИТ!</p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale">ВЫГОДНО!</p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                    <li class="product_card">
                        <img src="" alt="" class="product__img">
                        <p class="popular_sale"></p>
                        <p class="product__name">Название товара</p>
                        <p class="product__price">Цена</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock  %}