.basket_container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.basket__title {
    margin-bottom: 15px;
}

.basket__item {
    display: flex;
    gap: 25px;
    align-items: center;
}

.item_box {
    padding: 20px 30px;
    background-color: rgba(185, 222, 254, 0.5);
    width: 600px;
    display: flex;
    gap: 25px;
    border-radius: 20px;
}

.basket__item_list {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item__img {
    width: 120px;
    height: 120px;
    background-color: inherit;   
}

.item_name_price_box {
    display: flex;
    gap: 190px;
    align-items: center;
}

.item__name {
    margin-bottom: 10px;
}

.item__sort_descr {
    margin-bottom: 5px;
}

.item__platform {
    margin-bottom: 26px;
}

.counter_btn {
    align-items: start;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: rgb(236, 246, 255);
}

.number {
    background-color: inherit;
    border: none;
    outline: none;
    width: 8px;
}

.pos_box_price {
    position: relative;
    width: 80%;
}

.item__price {
    position: absolute;
    right: 0;   
    top: 0;
}

.paymen_method_form {
    margin-top: 89px;
    width: 500px;
    height: 400px;
    background-color: rgb(185, 222, 254);
    border-radius: 20px;
}

.paymen_method_form__container {
    margin: 25px;
    height: 87%;    
    padding-top: 25px;
    position: relative;
}

.paymen_method_form__title {
    margin-bottom: 15px;
}

.btn_choose_payment_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.payment_way {
    width: 100%;
    padding: 20px 40px;
    align-items: left;
    justify-content: center;
    background-color: rgb(0, 130, 240);
    color: white;
}

.payment_way__btn_chose {
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 130, 240);
}

.decor_div1 {
    height: 13%;
}

.decor_div2 {
    height: 100%;
    z-index: 0;
}

.payment_way__btn {
    margin-top: 20px;
    color: white;
    background-color: rgb(0, 130, 240);
    width: 500px;
    padding: 20px 0;
    font-size: 24px;
}

.btn {
    transition: all .3s;
}

.btn:focus {
    outline: 2px solid rgb(25, 158, 243);
    opacity: 100%;
}

.btn:hover {
    outline: 2px solid rgb(25, 158, 243);
    background-color: rgba(25, 158, 243, 0.8);
    opacity: 100%;
}

.btn:active {
    outline: 2px solid rgb(25, 158, 243);
    background-color: inherit;
    color: black;
    opacity: 100%;
}

.total_price_container {
    display: flex;
    justify-content: space-between;
}

.total_price_name,
.total_price_num {
    font-size: 28px;
}

.products_counter {
    font-size: 13px;
    margin-top: 30px;
}

.delete_product_btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: inherit;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 10px;
}