

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 60px 40px;
}

.nav_helper__links {
    display: flex;
    gap: 40px;
}

.nav_user__links {
    display: flex;
    gap: 40px;
}

.nav_helper__link:last-child .nav__link {
    color: blue;
}

.nav_helper__link:last-child .nav__link:focus {
    border-bottom: 1px solid blue;
}

.nav_helper__link:last-child .nav__link:hover {
    border-bottom: 1px solid blue;
}

.nav_helper__link:last-child .nav__link:active {
    border-bottom: 1px solid blue;
}

.nav_user__input {
    outline: none;
    border: none;
    background-color: rgb(217, 217, 217);
    color: black;
    width: 240px;
    height: 36px;
}

.nav_user__input::placeholder {
    padding-left: 5px;
}

.nav__link {
    font-size: 16px;
    color: black;
    transition: all 0.3s;
}

.nav__link:focus {
    opacity: 50%;
    border-bottom: 1px solid black;
    outline: none;
}

.nav__link:hover {
    border-bottom: 1px solid black;
    opacity: 70%;
}

.nav__link:active {
    opacity: 50%;
    border-bottom: 1px solid black;
}

.nav_user__links {
    align-items: center;
}
