.item__count {
    position: absolute;
    left: 0;
    bottom: 0;
}

.payment_way__title {
    margin-top: 60px;
}

.payment_way__card {
    padding: 19px 40px;
    background-color: inherit;
    border: 2px solid #199EF3;
    border-radius: 20px;
    width: auto;
    margin-bottom: 30px;
    font-size: 20px;
    margin-left: 25px;
}

.right_basket_container {
    width: 426px;
}

.order_email {
    padding: 19px 40px;
    background-color: inherit;
    border-radius: 20px;
    border: 2px solid #199EF3;
    outline: none;
    font-size: 20px;
    margin-bottom: 220px;
    margin-left: 25px;
    width: calc(100% - 110px);
}

.order_btn {
    padding: 16px 126px;
    width: 380px;
    color: white;
    width: 100%;
    background-color: rgb(0, 130, 240);
    font-size: 24px;
    font-weight: 900;
}

.backimg_order {
    position: absolute;
    top: 130px;
}