.main__container {
    max-width: 1400px;
    margin: 0 auto;
}

.products_title {
    margin-bottom: 20px;
}

.active_filters__list {
    display: flex;
    position: relative;
    gap: 40px;
    height: 40px;
}

.active_filters {
    margin-left: 300px;
    margin-bottom: 20px;
}
.none_checkbox {
    display: none;
    appearance: none;
}

.stock_label_1 {
    cursor: pointer;
}

.active_filter {
    font-size: 18px;
    position: relative;
    cursor: pointer;
    height: 30px;
    padding-top: 10px;
}

.active_filter:nth-child(2) {
    width: 0px;
}

.active_filter:nth-child(3) {
    margin-left: 240px;
}

.active_filter:last-child {
    position: absolute;
    right: 0;
    color: black;
}

.filters_producs_container {
    display: flex;
    padding-bottom: 120px;
}

.filters_box {
    flex-grow: 0;
    height: fit-content;
    min-width: 280px;
    background-color: rgba(185, 222, 254, 0.6);
    border-radius: 20px;
}

.filters__list {
    padding: 40px;
}

.filter {
    margin-bottom: 20px;
}

.product_box {
    margin-left: 20px;
    position: relative;
}

.product_card {
    position: relative;
    z-index: 0;
    width: 260px;
    min-height: 333px;
    position: relative;
    box-shadow: 0 0 12px rgb(27, 157, 243, 0.1),
        0 0 12px rgb(27, 157, 243, 0.1),
        0 0 12px rgb(27, 157, 243, 0.1),
        0 0 12px rgb(27, 157, 243, 0.1);
}


.products_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product__img {
    width: 100%;
    height: 244px;
    background-color: inherit;
    border: none;
    position: relative;
    z-index: 1;
}

.product__name {
    font-size: 18px;
    max-width: 100%;
    color: rgb(28, 37, 65);
    padding-left: 3px;
}

.product__price {
    margin-top: 20px;
    width: 50%;
    color: rgb(0, 130, 240);
    font-size: 20px;
    padding-left: 3px;
    padding-bottom: 3px;
}

.popular_sale {
    position: absolute;
    right: 25px;
    top: 10px;
    color: #1C2541;
    font-size: 13px;
    padding: 0 5px;
    background-color: #C1E2FE;
    border-radius: 7px;
    z-index: 1;
}

.page_num_list {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: -120px;
    left: 50%;
    gap: 7px;
    transform: translateX(-50%);
}

.page_num {
    text-align: center;
    padding: 10px 16px;
    border: 1px solid;
    border-radius: 10px;
}

.decor_div1 {
    height: 13%;
}

.decor_div2 {
    height: 100%;
    z-index: 0;
}

.marker_container {
    /* position: static;
    margin-left: 10px;
    margin-top: 7px; */
    right: 10px;
    top: 15px;
}

.filters_producs__title {
    margin: 10px 0 30px 20px;
}

.price_spread_box {
    margin-left: 20px;
}

.price-range {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.price-range input {
    width: 90px;
    height: 30px;
    margin-right: 10px;
    padding-left: 10px;
    background-color: white;
    border: none;
    outline: none;
}

.price_rage__input_label {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.validity_box {
    margin-left: 20px;
}

.validity_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.in_stock_box {
    margin-left: 20px;
    margin-top: 30px;

}

.operating_system_box {
    margin-left: 20px;
    margin-bottom: 30px;
}

.operating_system_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter_btn {
    background-color: inherit;
    border: none;
    font-size: 18px;
}

.drop_filters {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.img_decor_card {
    position: relative;
}

.decor_mini_card_img {
    position: absolute;
    width: 80%;
    height: 45px;
    filter: blur(12px);
    background-color: #B9DEFE;
    bottom: 15px;
    left: 25px;
}

.filter_price {
    border-radius: 20px;
}

.backimg_products {
    position: fixed;
    z-index: 0;
    top: 100px;
}