.registration_form {
    width: 640px;
    height: 800px;
    background-color: rgb(228, 228, 228);
    padding: 30px;
    position: relative;
}

.registration_form_container {
    margin: 0 auto;
    max-width: 1500px;
    display: flex;
    gap: 160px;
}

.registration_title {
    font-size: 36px;
    margin-bottom: 40px;
}

.reg_form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.reg_input {
    padding: 20px;
    background-color: rgb(217, 226, 236);
}

.btn_send_reginfo {
    position: absolute;
    bottom: 30px;
    padding: 20px 180px;
    width: 640px;
    background-color: rgb(21, 106, 199);
    color: white;
}

.registration_page_img {
    width: 600px;
    height: 860px;
    background-color: rgb(217, 217, 217);
}