.registration_form {
    width: 640px;
    height: 700px;
    background-color: rgb(185, 222, 254);
    padding: 30px;
    position: relative;
    border-radius: 20px;
}

.registration_form_container {
    margin: 0 auto;
    max-width: 1500px;
    display: flex;
    gap: 160px;
}

.registration_title {
    font-size: 36px;
    margin-bottom: 40px;
}

.reg_form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.reg_input {
    padding: 20px 0 20px 25px;
    background-color: white;
    outline: none;
    border: 1px solid rgb(28, 37, 65);
    border-radius: 20px;
    font-size: 20px;
    width: 540px;
}

.help_container {
    width: 100%;
    position: relative;
}

.clue {
    position: absolute;
    right: 22px;
    top: 22px;
    cursor: pointer;
}

.clue2 {
    position: absolute;
    right: 22px;
    top: 22px;
    cursor: pointer;
}

.reg_input_error {
    border: 2px solid red;
}

.reg_input.error::placeholder {
    color: red;
}

.clue_text_password {
    color: #000000;
    padding: 5px 8px;
    background-color: #ECF6FF;
    border-radius: 20px;
    font-size: 12px;
    max-width: 300px;
    position: absolute;
    right: -255px;
    top: 45px;
    border: 0.5px solid rgb(28, 37, 65);
    display: none;
}

.clue_text_password.visible {
    display: block;
}

.clue_text_password__repeat {
    padding: 5px 8px;
    background-color: #ECF6FF;
    border-radius: 20px;
    font-size: 12px;
    max-width: 300px;
    position: absolute;
    right: -130px;
    top: 45px;
    border: 0.5px solid rgb(28, 37, 65);
    display: none;
}

.clue_text_password__repeat.visible {
    display: block;
}

.btn_send_reginfo {
    padding: 20px 190px;
    background-color: rgb(21, 106, 199);
    color: white;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.form_btn_container {
    position: absolute;
    bottom: 30px;
}

.another_way_submit {
    width: fit-content;
    margin: 0 auto;
}

.another_way_submit a{
    text-decoration: none;
    color: rgb(0, 130, 240);
}

.registration_page_img {
    width: 600px;
    height: 760px;
    background-color: rgb(217, 217, 217);
}

.decor_div1 {
    height: 150px;
}

.decor_div2 {
    height: 100%;
    z-index: 0;
}

main {
    margin-top: 50px;
}

.backimg_reg {
    position: absolute;
    top: 170px;
}