html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(236, 246, 255);
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Inter", sans-serif;
}

main {
  margin-bottom: 100px;
  z-index: 1;
}

li,
ul,
a,
b,
h1,
p,
h2,
h3 {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  color: #1C2541;
}

.btn {
  transition: all 0.3s;
  outline: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-reset {
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.btn:focus {
  opacity: 50%;
}

.btn:hover {
  opacity: 70%;
}

.btn:active {
  opacity: 50%;
}

summary {
  position: relative;
}

summary::marker {
  content: none;
}

.summary_marker_stick1 {
  transform: translateY(-50%);
  border: 1px solid black;
  width: 20px;
  height: 0;
  transform: rotate(45deg);
}

.summary_marker_stick2 {
  margin-top: 13px;
  transform: translateY(50%);
  border: 1px solid black;
  width: 20px;
  height: 0;
  transform: rotate(-45deg);
}

.marker_container {
  position: absolute;
  right: 35px;
}

details[open] .marker_container {
  transform: rotate(90deg);
}

details[open] .summary_marker_stick1 {
  border: 1.5px solid blue;
}

details[open] .summary_marker_stick2 {
  border: 1.5px solid blue;
}

details:hover .summary_marker_stick1 {
  opacity: 70%;
}

details:hover .summary_marker_stick2 {
  opacity: 70%;
}

details:focus .summary_marker_stick1 {
  opacity: 70%;
}

details:focus .summary_marker_stick1 {
  opacity: 70%;
}

details:active .summary_marker_stick1 {
  opacity: 70%;
}

details:active .summary_marker_stick1 {
  opacity: 70%;
}

textarea {
  resize: none;
}

.shadow_element {
  transition: all 0.3s;
}

.product_card:hover .shadow_element {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 70%;
}

.product_card:focus .shadow_element {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 50%;
}

.product_card:active .shadow_element {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 50%;
}