.custom-input_user {
    position: relative;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(185, 222, 254);
    justify-content: center;
    align-items: center;
}

.custom-input_user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-input_user .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 230px;
    opacity: 0;
    cursor: pointer;
}

.user_page_container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.user_input_page {
    background-color: rgb(185, 222, 254);   
    padding: 10px 16px;
    align-items: center;
    max-width: 220px;
    margin-bottom: 20px;
    border-radius: 14px;
    outline: none;
    border: 0.5px solid rgb(28, 37, 65);
    width: 260px;
}

.user_products_title {
    margin-top: 20px;
}

.user_products,
.user_history_bought_box {
    width: 280px;
    height: 140px;
    background-color: rgb(185, 222, 254);
    position: relative;
    border-radius: 20px;
    border: 0.5px solid rgb(28, 37, 65);
}

.pos_class {
    position: relative;
}

.user_rating {
    position: absolute;
    bottom: 0px;
}

.user_rating__box {
    position: relative;
    background-color: rgb(185, 222, 254);
    width: 140px;
    height: 140px;
}

.user_rating__stars {
    display: flex;
    gap: 3px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.user_rating__num {
    position: absolute;
    top: 35%;
    left: 35%;
}

.decor_div1 {
    height: 13%;
}

.decor_div2 {
    height: 100%;
    z-index: 0;
}

.footer__container {
    z-index: 1;
}

main {
    margin-top: 50px;
}

.imgs_container {
    width: 240px;
    height: 120px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.user_product__img {
    height: 110px;
    width: 110px;
    background-color: #B36F6F;
    z-index: 4;
    position: relative;
    cursor: pointer;
}

.user_products__list {
    display: flex;
    position: relative;
    height: inherit;
    align-items: center;
    /* flex-direction: row-reverse; */
}

.user_product {
    position: absolute;
    right: 0;
}

.user_product:nth-child(2) {
    right: 60px;
}

.user_product:nth-child(2) .user_product__img {
    height: 100px;
    width: 100px;
    z-index: 3;
    background-color: white;
}

.user_product:nth-child(3) {
    right: 120px;
}

.user_product:nth-child(3) .user_product__img {
    height: 90px;
    width: 90px;
    z-index: 2;
}

.user_product:nth-child(4) {
    right: 160px;
}

.user_product:nth-child(4) .user_product__img {
    height: 80px;
    width: 80px;
    z-index: 1;
    background-color: white;
}

.popup_user_products_history,
.popup_user_purchase_history {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(185, 222, 254, 0.8);
    z-index: 5;
    overflow-y: auto;
    display: none;
}

.popup_title {
    margin: 15px 0 15px 30px;
    position: relative;
}

.active_user_products,
.history_user_products {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 30px;
}

.active_user_product {
    width: 200px;
    min-height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.active_user_product__img {
    width: 100%;
    height: 200px;
    background-color: inherit;
}

.active_user_product__name,
.active_user_product__date,
.active_user_product__price,
.history_user_product__date,
.history_user_product__name,
.history_user_product__price {
    font-size: 14px;
    background-color: rgb(107, 99, 99);
    max-width: 100%;
    color: white;
    padding-left: 15px;
}

.active_user_product__price,
.history_user_product__price {
    background-color: rgb(169, 192, 236);
    max-width: 50%;
}

.hide_popup_user_products_history,
.hide_popup_user_purchase_history,
.hide_popup_add_payment_method {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    background-color: initial;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

.active_user_product:hover .shadow_element {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 70%;
}

.active_user_product:focus .shadow_element {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 50%;
}

.active_user_product:active .shadow_element {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 50%;
}

.story_rating_product {
    position: absolute;
    width: initial;
    height: initial;
    background-color: #ECF6FF80;
    display: flex;
    gap: 3px;
    padding: 3px;
    top: 160px;
    left: 10px;
}

.active_filters__sub_list {
    top: auto;
    left: calc(100% - 280px);
    z-index: 5;
}

.active_filters__details {
    width: 280px;
}

.user_history_bought {
    margin-top: 260px;
}

.save_payment_method_btn {
    width: 90%;
    padding: 10px 0;
    background-color: rgb(0, 130, 240);
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
}

.marker_container {
    right: 10px;
    top: 15px;
}

.popup_user_add_payment_method {
    position: absolute;
    width: 480px;
    height: 410px;
    background-color: rgba(185, 222, 254, 0.8);
    top: 150px;
    left: 40%;
    z-index: 5;
    display: none;
}

.popup_user_add_payment_method__container {
    margin: 15px 20px;
    position: relative;
}

.popup_user_add_payment_method__title {
    margin-bottom: 25px;
    font-size: 20px;
}

.card_num_input {
    padding: 18px;
    width: calc(100% - 18px  *2);
    outline: 1px solid #1C2541;
    border: none;
    margin-bottom: 30px;
}

.date_secret_code_container {
    display: flex;
    justify-content: space-between;
}

.date_num_input,
.code_num_input {
    padding: 18px;
    outline: 1px solid #1C2541;
    border: none;
    
}

.add_payment_method_btn {
    width: 100%;
    background-color: #0082F0;
    font-size: 20px;
    padding: 19px 0;
    color: white;
    margin-top: 112px;
    margin-bottom: 8px;
}

.hide_popup_add_payment_method {
    top: -20px;
    right: -20px;
}

.save_user_data_btn {
    padding: 5px 33px;
    width: inherit;
    background-color: rgb(0, 130, 240);
    color: white;
}